				<div class="inventory_form col-lg-12 col-md-12 col-sm-12 col-xs-12">
				    <div class="row">
				        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
				        <p><b>Inventory:</b></p>
				        </div>
						<div class="delete_unit col-lg-2 col-md-2 col-sm-3 col-xs-3">
						<p><b>Quantity Sold:</b></p>
						</div>
			        </div>
		     	    <%= form_for [:admin, @stockproduct] do |product_units| %>
				        <%= product_units.fields_for :stockunits do |unit_fields| %>
							<% if unit_fields.object.new_record? %>
					         <div class="row">
							    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
								<p><%= unit_fields.select :quantity, (0..50), class: "form-control", height:"40px", :include_blank => true %></p>
								<br />
							    </div>
							    <div class="quant_unit col-lg-2 col-md-2 col-sm-3 col-xs-3">
								<%= unit_fields.hidden_field :size, :value => "n/a" %>
								<%= unit_fields.hidden_field :colour, :value => "n/a" %>
								<br />
							    </div>
					         </div>
							 <%else%>
					         <div class="row">
							    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
								<p><%= unit_fields.select :quantity, (0..50), class: "form-control", height:"40px", :include_blank => true %></p>
								<br />
							    </div>
							    <div class="quant_unit col-lg-2 col-md-2 col-sm-3 col-xs-3">
								<p>delete: <%= unit_fields.check_box '_destroy' %></p>
							    </div>
					         </div>
							 <%end%>
				        <% end %>
						 <br />
		            <div class="actions">
		            <%= product_units.submit "Save", class: "btn btn-small btn-primary"%>&nbsp
					<%= link_to 'Cancel', admin_stockproducts_path %>
		     	    </div>
		        </div>
		 		 <%end%>
