<% if user_signed_in? %>
	<%= render 'admin/navbars/admin_navbar' %>
<%end%>

<div class="container">
	<br /><br />
	<div class="devise_user_registration">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-2 hidden-xs">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-8 col-sm-12 devise_forms_background">
					<div class="merchant_form_headings">
					<h2>Create User:</h2>
					</div>
				<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
				  <%= devise_error_messages! %>

					<% if user_signed_in? %>
						<%= select_create_form(current_user, f) %>
					<%else%>
						<%= render partial: "devise/registrations/form", locals: {:f => f} %>
					<%end%>
					<div class="devise_create actions" style="text-align:center">
						<%= f.submit "CREATE ACCOUNT	", class: "btn btn-primary btn-large" %>
						<br /><br />
					</div>
				<% end %>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-2 hidden-xs">
				</div>
			</div>
		</div>
		<br /><br /><br /><br />
</div>
