<div class="nav navbar-nav hidden-xs">
  <li class="dropdown">
      <a href="#" class="dropdown-toggle menu_logo" data-toggle="dropdown" role="button" aria-expanded="false"><%= image_tag('menu_icon.png') %> </a>
      <ul class="dropdown-menu" role="menu">
        <% if user_signed_in? %>
          <% if current_user.article_publisher? %>
          <li class="divider"></li>
          <li><a style="color:grey">PUBLISHERS</a></li>
          <li><%= link_to "ARTICLES", admin_articles_path %></li>
          <li><%= link_to "NEW ARTICLE", new_admin_article_path %></li>
          <li class="divider" ></li>
          <li><%= link_to "DIGEST SUBSCRIBERS", admin_email_digests_index_path %></li>
          <li><%= link_to "SEND EMAIL DIGEST", admin_email_digests_new_digest_path %></li>
          <li class="divider" ></li>
          <li><%= link_to "SURVEY RESULTS", admin_user_feedbacks_path %></li>
          <%end%>
          <% if current_user.admin? %>
          <li class="divider" ></li>
          <li><a style="color:grey">ADMINISTRATOR</a></li>
          <li><%= link_to "CONTACTS", admin_contacts_contact_path %></li>
          <li><%= link_to "TEAM APPLICATIONS", admin_teams_team_path %></li>
          <li><%= link_to "PRODUCT CATEGORIES", categories_path %></li>
          <li><%= link_to "ADD MERCHANT", new_user_registration_path %></li>
          <li><%= link_to "ALL MERCHANTS", admin_users_merchants_path %></li>
          <li><%= link_to "ALL ORDERS", admin_all_orders_path %></li>
          <li><%= link_to "ALL USERS", admin_users_index_path %></li>
          <li><%= link_to "STOCK PRODUCTS", admin_stockproducts_path %></li>
          <%end%>
        <%end%>
          <br />
      </ul>
  </li>
</div>
