<div class="nav navbar-nav hidden-xs">
  <li class="dropdown">
      <a href="#" class="dropdown-toggle menu_logo" data-toggle="dropdown" role="button" aria-expanded="false">
        <%= image_tag('menu_icon.png') %>
      </a>
      <ul class="dropdown-menu product_main_menu" role="menu">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <br />
          <li class="heading"><%= link_to "HARD GOODS", products_hard_goods_path %> </li>
          <li><%= link_to "SKIS", products_hard_goods_path %></li>
          <li><%= link_to "BOOTS", products_hard_goods_path %></li>
          <li><%= link_to "POLES", products_hard_goods_path %></li>
          <br /><br />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <br />
          <li class="heading"><%= link_to "CLOTHING", products_clothing_path %></li>
          <li><%= link_to "MEN'S CLOTHING", products_clothing_path %></li>
          <li><%= link_to "WOMEN'S CLOTHING", products_clothing_path %></li>
          <li><%= link_to "GLOVES", products_clothing_path %></li>
          <li><%= link_to "TOQUES", products_clothing_path %></li>
          <li><%= link_to "SOCKS", products_clothing_path %></li>
          <li><%= link_to "BUFFS & NECKWARMERS", products_clothing_path %></li>
          <li><%= link_to "KID'S CLOTHING", products_clothing_path %></li>
          <br /><br />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <br />
          <li class="heading"><%= link_to "WAXING", products_waxing_path %></li>
          <li><%= link_to "GRIP", products_waxing_path %></li>
          <li><%= link_to "GLIDE", products_waxing_path %></li>
          <li><%= link_to "TOOLS & ACCESSORIES", products_waxing_path %></li>
          <br /><br />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <br />
          <li class="heading"><%= link_to "ACCESSORIES", products_accessories_path %></li>
          <li><%= link_to "SKI BAGS", products_accessories_path %></li>
          <li><%= link_to "DUFFEL BAGS", products_accessories_path %></li>
          <li><%= link_to "BACK PACKS", products_accessories_path %></li>
          <li><%= link_to "DRINKBELTS", products_accessories_path %></li>
          <li><%= link_to "NUTRITION", products_accessories_path %></li>
          <li><%= link_to "SUNGLASSES & GOGGLES", products_accessories_path %></li>
          <li><%= link_to "BOOT COVERS", products_accessories_path %></li>
          <li><%= link_to "BINDINGS", products_accessories_path %></li>
          <br /><br />
        </div>
      </ul>
  </li>
</div>
