
<div class="row">
	
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<% @articles_feat.each do |article| %>
<a name="<%=article.title.gsub(/\p{^Alnum}/, '') %>" class="article_anchor"></a>
 <div id="<%=article.date_published%>">

 	<% if article.image.include? "youtube.com" %>
	
 	     <%= render :partial => "articles/video_art", :locals => {:article => article} %>
	  
 	<% else %>
	
 	     <%= render :partial => "articles/standard", :locals => {:article => article} %>
		 
	
	
 	  <%end%>
	 

    
	<div class="admin_article_well">
		
         <td>Published: <%= article.publish %></td><br>
		 <td>Featured: <% if article.notes == "Featured" %> Yes <%else%> No <%end%></td><br> 
	     <td>Created at: <%= article.created_at.strftime("%A, %B %d at %H:%M:%S") %></td><br>
	     <td>Article id: <%= article.id %></td><br>       
         <td><%= link_to 'Edit', edit_admin_article_path(article)%></td>&nbsp|&nbsp
	     <td><%= link_to 'Delete', admin_article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %></td><br>
	    
	</div>
	
  </div>
<% end %>

</div>

</div>