<div class="article">
	 <div id="article_well" class="article_well_main">

      <div class="article_text col-lg-12 col-md-12 col-sm-12">
				<div class="poll_well_label">
					<span class="glyphicon glyphicon-signal"></span><span> Ski-Lines Poll</span>&nbsp-&nbsp<span><%= Date.parse(article.date_published).strftime("%b %d, %Y") %>  </span>
				</div>
	      <div class="poll_title"><%= link_to article.title, article_path(article) %></div>
	      <div class="poll_description"><%= article.description.html_safe %></div>

        <!-- Build object for form_builder to map onto. Found in helper -->
        <% build_nested_feedbacks_object(article) %>

        <%= form_for @feedback, :url => user_feedbacks_path do |f|%>
          <%= f.fields_for :user_feedback_answers do |ff| %>
    	      <div class="user_poll_questions">
    					<div class="poll_question">
    		        <p>1. <%= article.user_feedback.question_one %></p>
                <%= ff.label :answer_one, "Answer 1:", hidden: true %>
                <%= ff.text_field :answer_one, class: "form-control" %>
    					</div>
    					<div class="poll_question">
    		        <p>2. <%= article.user_feedback.question_two %></p>
                <%= ff.label :answer_two, "Answer 2:", hidden: true %>
                <%= ff.text_field :answer_two, class: "form-control" %>
    					</div>
    					<div class="poll_question">
    		        <p>3. <%= article.user_feedback.question_three %></p>
                <%= ff.label :answer_three, "Answer 3:", hidden: true %>
                <%= ff.text_field :answer_three, class: "form-control" %>
    					</div>
    					<div class="poll_question">
    		        <p>4. <%= article.user_feedback.question_four %></p>
                <%= ff.label :answer_four, "Answer 4:", hidden: true %>
                <%= ff.text_field :answer_four, class: "form-control" %>
    					</div>
    					<div class="poll_question">
    		        <p>5. <%= article.user_feedback.question_five %></p>
                <%= ff.label :answer_five, "Answer 5:", hidden: true %>
                <%= ff.text_field :answer_five, class: "form-control" %>
    					</div>
    					<div class="poll_question">
    		        <p>6. <%= article.user_feedback.question_six %></p>
                <%= ff.label :answer_six, "Answer 6:", hidden: true %>
                <%= ff.text_field :answer_six, class: "form-control" %>
    	        </div>
    			  </div>
          <%end%>
          <div class="actions">
            <%= f.submit "SUBMIT", class: "btn btn-large btn-primary" %>
          </div>
        <%end%>
   </div>

 </div>
</div>
<br />
