<div class="admin_order_show">
<br />
	<div class="row">
			<% merchant_order_units(@order)%>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

					<br /><br /><br /><br /><br />
					<div class="admin_order_details">
					<b>Date:</b> <%= @order.created_at.strftime("%b %d, %Y at %H:%M")  %><br />
					<b>Order:</b> <%= @order.id %>
					</div>
					<br />
					<div class="admin_customer_details">
						<b>Cutomer Details:</b><br />
						<%= @order.cust_first_name%> <%= @order.cust_last_name %><br />
						<%= @order.street_address %><br />
						<%= @order.city %><br />
						<%= @order.prov_state %>, <%= @order.country %><br />
						<%= @order.postal_zip %><br /><br />
						<b>Payment Details:</b><br />
						<% shipping = 0 %><% tax = 0 %><% subtotal = 0 %>
 					 <% @merchant_order_units.each do |p|  %>
 	 					<% @order.merchant_orders.where(product_id: p.unit.product.id).each do |m_o| %>
 	 						<% shipping += admin_shipping_calc(m_o, p) %>
 	 						<% tax += admin_tax_calc(m_o, p) %>
 	 					<%end%>
 	 					<% subtotal += (p.unit.product.price*p.quantity)%>
 	 				<%end%>
 	 				<% total = subtotal + shipping + tax %>
 	 				Subtotal: <%= number_to_currency(subtotal, unit: '$')%><br />
 	 				Shipping: <%= number_to_currency(shipping, unit: '$') %><br />
 	 				Sales Tax: <%= number_to_currency(tax, unit: '$')%><br />
 	 				Total: <%= number_to_currency(total, unit: '$') %>
					<br /><br />

					</div>
					<br />

		</div>
		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
			<h3>Order #<%= @order.id %></h3>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="merchant_form_headings"><h2>Products:</h2></div>

						<% @merchant_order_units.each do |p|%>
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
								<%= image_tag(p.unit.product.photo.url(:large), class: "img-responsive") %>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
								<h4><b><%= p.unit.product.name %></b></h4>
								<% if p.unit.size != 'n/a' and p.unit.colour != 'n/a'%>
	 							<%= p.quantity %> X <%= p.unit.size %>, <%= p.unit.colour %><br />
	 							<%elsif p.unit.size == 'n/a' and p.unit.colour != 'n/a'%>
	 							<%= p.quantity %> X <%= p.unit.colour %><br />
	 							<%elsif p.unit.size != 'n/a' and p.unit.colour == 'n/a'%>
	 							<%= p.quantity %> X <%= p.unit.size %><br />
	 							<%else%>
	 							<%end%>
								<%= p.unit.product.description %>
								<br /><br />
								<h4> <%= number_to_currency(p.unit.product.price, unit: '$') %> <span><%= image_tag("can_flag.png", height: "15px", style: "padding-bottom:3px")%> </span></h4>
								<br />
									<% @order.merchant_orders.where(product_id: p.unit.product.id).each do |m|%>
										<% unless m.customer_comments.blank? %>
										Customer Comment: <br /><%= m.customer_comments %><br /><br />
										<%end%>
									<%end%>
									<%= form_for [:admin, @order] do |f| %>
										<%= f.fields_for :merchant_orders do |ff| %>
											<% if ff.object.product_id == p.unit.product.id %>
											<br />
												<% if ff.object.delivery_method == "Standard Shipping" %>
												<%= ff.label :order_status, 'Sent for delivery?'%>
												<%else%>
												<%= ff.label :order_status, 'Ready for pick-up?'%>
												<%end%>
												<%= ff.check_box :order_status %><br /><br />
												<%end%>
											<%end%>
											<%= f.submit "Save Changes", class: "btn btn-primary", data: { confirm: 'Are you sure you want to confirm that you have filled this order?' }%>
										<%end%>
							</div>
						</div>
						<br /><br />
					 <%end%>
			 </div>
			 
		</div>
	</div>
</div>
