<div class="admin_performance">
	<h3>Totals</h3>
	<table style="width:100%">
		<tr>
			<th> # of Merchants </th>
			<th> # of Products </th>
			<th> Total Value </th>
			<th> Total Ski-Lines Value </th>

		</tr>
		<tr>
			<td> <%= total_merchants %> </td>
			<td> <%= total_number_of_products%> </td>
			<td>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					All Products: <br /><%= number_to_currency(all_total_value, unit: "$")%>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					Active Products: <br /><%= number_to_currency(total_active_value, unit: "$")%>
					</div>
			</td>
			<td>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				All Products: <br /><%= number_to_currency(total_sl_value, unit: "$")%>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					 Active Products: <br /><%= number_to_currency(total_sl_active_value, unit: "$")%>
				 </div>
			 </td>
		</tr>
	</table>

	<h3>Merchants</h3>
	<br />
	<table style="width:100%">
		<tr>
			<th>#</th>
			<th>ID</th>
			<th>Contact</th>
			<th>Products Page</th>
			<th># of Products</th>
			<th>Total Value</th>
			<th>Total Sales</th>
			<th>Active Since</th>

		</tr>
		<% @merchants.each_with_index do |m, index|%>
		<tr>
			<td><%=index+1%></td>
			<td><%=m.id%></td>
			<td>
				<b><%= m.merchant_name%></b><br /><br />
				Contact: <%= m.contact_name%><br />

				<i><%= m.street_address%><br />
				<%=m.city%>, <%=m.state_prov%>, <%=m.country%><br /><%=m.zip_postal%></i><br />
				<%= m.merchant_phone%>
			</td>
			<td><a href="<%= "https://www.ski-lines.com/"+"shop/"+m.slug %>"><%= m.slug.prepend("ski-lines.com/shop/") %></a></td>
			<td>
				Total: <%=m.products.count%><br />
				Active: <%= m.products.where(status: true).count %>

			</td>
			<td>
				<b>Total Value: <%= number_to_currency(total_value(m))%></b><br /><br />
				Product Value: <%= number_to_currency(product_value(m))%><br />
				Shipping Value: <%= number_to_currency(shipping_value(m))%>

			</td>
			<td>to do</td>

			<td><%= m.created_at.to_date.strftime("%B %d, %Y") %></td>

		</tr>
		<%end%>
	</table>



</div>


<div class="merchant_spacer">
<br />
</div>
