<div class="stripe_form_headings col-xs-12">
  <h2>Banking Details&nbsp;<span class="glyphicon glyphicon-info-sign" rel="popover" title="Bank Account" data-content="Money will be deposited into this bank account each day for which transactions occurred, 7 days after that day's transactions." data-trigger="hover" data-placement="top"></span></h2>
</div>
<% @external_accounts.each do |f| %>
<div class="row">
  <div class="left col-lg-6 col-md-6 col-sm-6 col-xs-12">
    Account Country:
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <%= make_country_readable(f.country) %>
  </div>
</div>
<div class="row">
  <div class="left col-lg-6 col-md-6 col-sm-6 col-xs-12">
    Account Currency:
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <%= make_currency_readable(f.currency) %>
  </div>
</div>
<div class="row">
  <div class="left col-lg-6 col-md-6 col-sm-6 col-xs-12">
    Routing Number:
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <%= f.routing_number %>
  </div>
</div>
<div class="row">
  <div class="left col-lg-6 col-md-6 col-sm-6 col-xs-12">
    Account Number:
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <%= "XXXXX" + f.last4 %>
  </div>
</div>
<div class="col-xs-12" style="text-align:center;">
<%= link_to "Delete Account", admin_stripe_accounts_delete_bank_account_path(:bank_id => f.id) %>
</div>
<br /><br />
<%end%>
<br />
<div class="row">
  <div class="col-xs-12" style="text-align:center;">
    <a type="button" href="#" class="btn btn-primary" data-toggle="modal" data-target="#edit_banking">Add Account</a>
  </div>
</div>
