<%= form_tag admin_verify_account_path, :method => :get do %>
<div class="form_heading col-xs-12">
  <h4>Account Representative Details:</h4>
  <br /><br />
</div>
<div class="left_label col-lg-3 col-md-3 col-sm-4 col-xs-12">
  First Name:
</div>
<div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
  <%= text_field_tag :first_name, nil, class: "form-control", placeholder: current_user.contact_first_name %><br />
</div>
<div class="left_label col-lg-3 col-md-3 col-sm-4 col-xs-12">
  Last Name:
</div>
<div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
  <%= text_field_tag :last_name, nil, class: "form-control", placeholder: current_user.contact_last_name %><br />
</div>
<div class="left_label col-lg-3 col-md-3 col-sm-4 col-xs-12">
  Date of Birth:
</div>
<% months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %>
<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
  <%= select_tag :dob_month, options_for_select(months) %>
  <%= select_tag :dob_day, options_for_select(1..31) %>
  <%= select_tag :dob_year, options_for_select(1900..2000) %>
</div>
<div class="col-xs-12">
  <br /><br />
   <%= submit_tag "Save", class: "btn btn-primary merchant_pro_save" %>
</div>
<%end%>
