<%= form_tag "/admin/stripe_accounts/verify_account", :method => :get do %>
<div class="stripe_form_headings col-xs-12">
  <h2>Account Representative Details&nbsp;<span class="glyphicon glyphicon-info-sign" rel="popover" title="Account Representative" data-content="This person can be anyone who has the authority to set up an account on behalf of the merchant." data-trigger="hover" data-placement="top"></span></h2>
</div>
<div class="id-errors" style="color:red;"></div>
<div class="field col-xs-12">
  <div class="devise_label col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <%= label_tag :first_name, "First Name:" %>
  </div>
  <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
    <%= text_field_tag :first_name, nil, value: @account_first_name, class: "form-control first_name form-inline", placeholder: current_user.contact_first_name %><br />
  </div>
</div>
<div class="field col-xs-12">
  <div class="devise_label col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <%= label_tag :last_name, "Last Name:" %>
  </div>
  <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
    <%= text_field_tag :last_name, nil, value: @account_last_name, class: "form-control", placeholder: current_user.contact_last_name %><br />
  </div>
</div>
<div class="field col-xs-12">
  <div class="devise_label col-lg-3 col-md-3 col-sm-4 col-xs-12">
  <%= label_tag :date_of_birth, "Date of Birth" %></span>
  </div>
<% months = {
            "January" => 1, "February" => 2, "March" => 3, "April" => 4, "May" => 5,
            "June" => 6, "July" => 7, "August" => 8, "September" => 9, "October" => 10,
            "November" => 11, "December" => 12
            } %>
  <div class="edit_devise_label col-lg-3 col-md-3 col-sm-8 col-xs-12">
    <%if @fields_needed.include?("legal_entity.dob.month")%><span class="fields_needed_class"><%else%><span><%end%><%= select_tag :dob_month, options_for_select(months, selected: @dob_month), :prompt => "-month-" %></span>
  </div>
  <div class="edit_devise_label col-lg-2 col-md-2 col-sm-8 col-xs-12">
    <% if @fields_needed.include?("legal_entity.dob.day")%><span class="fields_needed_class"><%else%><span><%end%><%= select_tag :dob_day, options_for_select(1..31, selected: @dob_day), :prompt => "-day-" %></span>
  </div>
  <div class="edit_devise_label col-lg-2 col-md-2 col-sm-8 col-xs-12">
    <% if @fields_needed.include?("legal_entity.dob.year")%><span class="fields_needed_class"><%else%><span><%end%><%= select_tag :dob_year, options_for_select(1900..2000, selected: @dob_year), :prompt => "-year-" %></span>
    <br /><br />
  </div>
</div>

  <% if @ssn_last_4.blank? && @fields_needed.include?("legal_entity.ssn_last_4") %>
  <div class="field col-xs-12">
    <div class="devise_label col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <%= label_tag :last_4, "Last 4 Digits of SIN:" %>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
        <% if @fields_needed.include?("legal_entity.ssn_last_4")%><span class="fields_needed_class"><%else%><span><%end%><%= text_field_tag :ssn_last_4, nil, value: @ssn_last_4, class: "form-control" %></span><br />
    </div>
  </div>
  <%end%>

<div class="col-xs-12" style="text-align:center">
  <br />
   <%= submit_tag "Save Changes", class: "btn btn-primary merchant_pro_save" %>
   <br /><br />
</div>
<%end%>
