<% if (current_user.merchant? || current_user.merchant_rep? || current_user.article_publisher? || current_user.admin?) %>
<%= render 'navbars/layouts/admin_navbar' %>
<%end%>
<div class="container">
  <div class="edit_profile_form col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-1 hidden-xs">
      </div>
      <div class="devise_forms_background col-lg-8 col-md-8 col-sm-10 col-xs-12">
        <% if current_user.stripe_account_id %>
        <h1><%=current_user.merchant_name%></h1>
        <%= render :partial => 'status_account' %>
          <br />
          <div class="col-xs-12">
          <p>Sensitive personal details, such as identitification numbers and banking details, are never stored by Ski-Lines, nor will they ever appear on this page after you submit any of the forms below.
            Any personal information we request gets sent directly to our payments provider, <%= link_to "Stripe", "https://www.stripe.com"%>, where it is securely stored.
            <br /><br />
          </p>
        </div>
          <div class="row">
            <%= render :partial => 'update_account_form' %>
            <% if @personal_id_number_provided.blank? && @fields_needed.include?("legal_entity.personal_id_number") %>
            <%= render :partial => 'personal_id_numb_form' %>
            <%end%>
            <%= render :partial => 'update_company_details_form' %>
            <% if @external_accounts.empty? %>
            <%= render :partial => 'banking_form' %>
            <%else%>
            <%= render :partial => 'banking_details' %>
            <%end%>
          </div>
        <%end%>
        <br />
      </div>
      <div class="col-lg-2 col-md-2 col-sm-1 hidden-xs">
      </div>
    </div>
    <br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br />
    <br /><br /><br /><br />
  </div>
</div>
