<% if (current_user.merchant? || current_user.merchant_rep? || current_user.article_publisher? || current_user.admin?) %>
<%= render 'navbars/layouts/admin_navbar' %>
<%end%>
<div class="container">
  <div class="stripe col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
        <% if current_user.stripe_account_id %>
        <div class="merchant_title">
          <h3><%=current_user.merchant_name%></h3>
          <h4>Account Settings</h4>
        </div>
          <div class="stripe_account_well col-xs-12">
            <div class="row">
              <%= render :partial => 'status_account' %>
            </div>
          </div>
          <div class="stripe_account_well col-xs-12">
            <div class="row">
              <%= render :partial => 'update_account_form' %>
            </div>
          </div>

          <% if @personal_id_number_provided.blank? && @fields_needed.include?("legal_entity.personal_id_number") %>
          <div class="stripe_account_well col-xs-12">
            <div class="row">
              <%= render :partial => 'personal_id_numb_form' %>
            </div>
          </div>
          <%end%>

          <div class="stripe_account_well col-xs-12">
            <div class="row">
              <%= render :partial => 'update_company_details_form' %>
            </div>
          </div>
          <div class="stripe_account_well col-xs-12">
            <div class="row">
              <% if @external_accounts.empty? %>
              <%= render :partial => 'banking_form' %>
              <%else%>
              <%= render :partial => 'banking_details' %>
              <%end%>
            </div>
          </div>

        <%end%>
        <br />
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
      </div>
    </div>
    <br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br />
    <br /><br /><br /><br />
  </div>
</div>
<%= render 'admin/modals/edit_banking' %>
