<style type="text/css" media="screen">

.welcome_digest_email{font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;}
.center_text{ text-align:center; }
.left_align_text{ text-align:left; }
.email_footer{
  font-size:12px;
  text-align:center;
  opacity:0.7;
  border-top-style:solid;
	border-color:#adadad;
	border-width:thin;
  padding-top:5px;
}
.article_background{
	background-color:white;
	border-radius:5px;
	border-width: thin;
	border-style: solid;
	border-color: #e8e8e8;

	padding:7px;


}
.email_article_title{
  text-decoration:none;
  color:black;
  font-size:17px;
}
.email_article_title:hover{
  text-decoration:none;
  color:blue;
  font-size:17px;
}
.email_digest_admin_date{


  color:#404040;
}

h2{
	border-bottom-style:solid;
	border-color:#adadad;
	border-width:thin;
  font-size:17px;
  margin-bottom:0px;
  padding-bottom:15px;
}
h1{
  border-top-style:solid;
	border-color:#adadad;
	border-width:thin;
  font-size:15px;
  margin-bottom:0px;
  padding-bottom:0px;

}
</style>

<div class="welcome_digest_email">
  <div class="left_align_text">
    <p>Hi <%= @subscriber.first_name %>,</p>
    <p>Here's what's been happening in the World of cross-country ski racing:</p>

    <div class="col-lg-11 col-md-10 col-sm-12 col-xs-12">
        <% @articles.each do |f| %>
        <div class="article_background">
          <div class="email_article_title"><%= link_to f.title, :controller => "articles", :action => "show",
      :only_path => false, :id => f.id, :host => "ski-lines.com" %></div>
          <p style="opacity:0.5;"><%= simple_format(f.description[0...200] << ' ...') %></p>
          <div class="email_digest_admin_date"><%= Date.parse(f.date_published).strftime("%b %d, %Y") %> | <%= f.source %></div>


        </div>
        <br />
        <%end%>
    </div>



    <p>Be sure to check out <a href="https://www.ski-lines.com">Ski-Lines.com</a> for these stories and more!</p>
    <p>Sincerely,</p>

    <p>The Ski-Lines Team</p>
  </div>

  <div class="email_footer">
    <p><i>We are focussed on keeping you connected with the sport that you love!</i></p>
    <%= link_to "Ski-Lines.com", root_url %><br />
    <%= link_to "Edit Subscription Settings", :controller => "email_digests", :action => "edit",
:only_path => false, :id => @subscriber.id, :host => "ski-lines.com" %><br />

  </div>


</div>
