<div class="currency_pricing_form col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <br />
  <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
    <label>Currency:</label>
    <div style="padding-top:5px;">
      <div class="navbarflag flag flag-us">
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <%= f.label :usd_price, "Price (in USD):"%>&nbsp;<span class="glyphicon glyphicon-info-sign" rel="popover" title="USD Price Notice" data-content="When the field below is blank or set to 0, this product will not be displayed in the Ski-Lines U.S. storefront." data-trigger="hover" data-placement="top"></span><br />
      <%= f.text_field :usd_price, class: "form-control", placeholder: "Price" %>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <%= f.label :usd_domestic_shipping, "Domestic Shipping (in USD):"%><br />
      <% if f.object.usd_domestic_shipping.nil? %>
      <%= f.text_field :usd_domestic_shipping, class: "form-control", placeholder: "Price", :value => (number_with_precision(current_user.usd_domestic_shipping, :precision => 2) || 0) %>
      <%else%>
      <%= f.text_field :usd_domestic_shipping, class: "form-control", placeholder: "Price" %>
      <%end%>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <%= f.label :usd_foreign_shipping, "Int'l Shipping (in USD):"%><br />
      <% if f.object.usd_foreign_shipping.nil? %>
      <%= f.text_field :usd_foreign_shipping, class: "form-control", placeholder: "Price", :value => (number_with_precision(current_user.usd_foreign_shipping, :precision => 2) || 0) %>
      <%else%>
      <%= f.text_field :usd_foreign_shipping, class: "form-control", placeholder: "Price" %>
      <%end%>
      <br />
  </div>
</div>
