<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
  <br /><br />
  <div class="admin_customer_details">
  <b>Cutomer Details:</b><br />
  <%= @order.cust_first_name%> <%= @order.cust_last_name %><br />
  <p><%= @order.street_address %><br />
  <%= @order.city %><br />
  <%= @order.prov_state %>, <%= @order.country %><br />
  <%= @order.postal_zip %></p><br />
  <b>Payment Details:</b><br />
  <p>Subtotal: <%= number_to_currency(@order_unit.sub_total, unit: '$')%><br />
  Shipping: <%= number_to_currency(@order_unit.shipping_charged, unit: '$') %><br />
  Sales Tax: <%= number_to_currency(@order_unit.sales_tax_charged, unit: '$')%><br />
  Total: <%= number_to_currency(@order_unit.sub_total+@order_unit.shipping_charged+@order_unit.sales_tax_charged, unit: '$') %><br />
  Currency:
  <div class="navbarflag flag flag-<%=flag_selector_based_on_currency(@order.currency)%>"></div></p>
  </div>
</div>
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 return_form">
<%= render "admin/returns/form" %>
<br /><br />
</div>
