<div class="empty_cart_background">
	<div class="container">
		<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="empty_cart hidden-xs">
					<br /><br /><br /><br /><br /><br /><br />

					<h2>You Currently Have No Items In Your Shopping Cart.</h2>
					<br />
					</div>
					<div class="empty_cart hidden-lg hidden-md hidden-sm">
						<br /><br /><br /><br />
					<h2>Your cart is empty.</h2>
					<br />
					</div>
					<!--
					    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2" >

						   <div class="landing_search ">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><br />
							        <div class="field input-group col-lg-11 col-md-10 col-sm-12 col-xs-12">
							     		 <%= form_tag("/products/all_products", :method => 'get') do %>
							             <%= text_field_tag :query, params[:query], class:"form-control input-lg", style: "width:80%", placeholder: "Keep Shopping..." %>
							                 <span class="input-group-btn">
							                  <button class="btn btn-default input-lg" type="submit"><i class="glyphicon glyphicon-search"></i></button>
							   		      <% end %>
							                </span>
							   	    </div>
								    <div class="quick_links_empty_cart col-lg-offset-2 hidden-xs">
											<%= link_to("Clothing", products_clothing_url)%> |
											<%= link_to("Skis, Boots, Poles", products_hard_goods_url )%> |
											<%= link_to("Waxing", products_waxing_url)%> |
											<%= link_to("Accessories", products_accessories_url  )%>
									  </div><br /><br />
								</div>
							</div>

					  	</div>
						-->


					</div>

				</div>
			</div>
		</div>

</div>
