		<div class="row">
			<div class="remove_cart_product col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<a href='/cart/remove/"<%= p.id %>"'><span class="glyphicon glyphicon-remove"></span> <i>remove product</i></a>
			</div>
			<div id="image" class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
				<%= image_tag(p.photo.url(:large), class: "img-responsive", width:"100%") %>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div id="product_name" data-name="<%= p.name %>">
						</div>
						<div id="merchant_state_prov" data-prov="<%= p.user.state_prov %>">
						</div>
						<div id="product_shipping" data-shipping="<%= p.shipping_charge %>" class="product_name">
							<h3><%= p.name %></h3>
						</div>
						<div id="product_price" data-price="<%= p.price %>" class="product_price">
								<h4 > <%= number_to_currency(p.price, unit: '$') %> <span><%= image_tag("can_flag.png", height: "15px", style: "padding-bottom:3px")%> </span></h4>
						</div>
						<%
						# we want to allow all users except merchants to message a merchant.
						# this will avoid merchant to merchant communication
						if !current_user.merchant?
							%>
							<div>
								<p>
									<span class="glyphicon glyphicon-envelope"></span>
									<%= link_to " Contact " + p.user.merchant_name, new_conversation_path(product_id: p.id), class: ""%>
								</p>
							</div>
							<%
						end
						%>
						<p><%= simple_format(p.description) %></p>
						<div id="tax_rate" data-tax="<%= p.user.sales_tax %>">
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div id="content">
						    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
	 				           <li class="active"><a data-toggle="tab" href='#<%= p.id%>A'>Merchant</a></li>
	 				           <li ><a data-toggle="tab" href='#<%= p.id%>B'>Returns</a></li>
							   <% unless p.units.any?{|a| a.size == 'n/a' }%>
	 				           <li ><a data-toggle="tab" href='#<%= p.id%>C'>Sizing</a></li>
							   <%end%>
	 						   <li ><a data-toggle="tab" href='#<%= p.id%>D'>Shipping</a></li>
						    </ul>
						    <div id="my-tab-content" class="tab-content">
								<div class="tab-pane active" id='<%= p.id%>A'>
		 							<p>
									<% if p.user.merchant_url.blank? %>
									<%= p.user.merchant_name %><br />
									<%else%>
									<!-- full production link, send user to store products page
									<i><%= link_to p.user.merchant_name, {:controller => "products", :action => "store", :slug => p.user.slug } %></i><br />
									-->
									<i> <%= p.user.merchant_name %> </i><br />
									<%end%>
									<%= p.user.city %>, <%= p.user.state_prov%>	<br />
									</p>
						        </div>
								<div class="tab-pane" id='<%= p.id%>B'>
						        <% if p.product_return_policy.blank? %>
									<p>There is no return policy for this product.</p>
								<%else%>
									<p><%= simple_format(p.product_return_policy) %></p>
								<%end%>
						        </div>
								<% unless p.units.any?{|a| a.size == 'n/a' }%>
								<div class="tab-pane" id='<%= p.id%>C'>
   	  				             <% if p.size_details.blank?%>
   	  				             <p>No sizing details to show.</p>
   								 <%else%>
   								 <p><%= simple_format(p.size_details) %></p>
   	  							 <%end%>
						        </div>
										<%end%>
						        <div class="tab-pane" id='<%= p.id%>D'>
									<% if p.shipping_charge.blank? %>
										<p>There is no shipping information to show.</p>
									<%else%>
										<% if p.shipping_charge == 0 %>
										<p>This product has free shipping!</p>
										<%else%>
										<p>
											<%= number_to_currency(p.shipping_charge, unit: '$') %> per unit for deliveries within Canada, and
											<%= number_to_currency(p.shipping_charge*1.5, unit: '$') %> per unit for deliveries to the U.S..
										 </p>
										<%end%>
									<%end%>
									<% if p.shipping_charge == 0 %>
									<%else%>
									<p>Save the shipping fee by picking up the product in person!</p>
									<%end%>
						        </div>
						    </div>
						</div>
					</div>
					<div class="add_to_cart col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<br />
						<div class="toggle_sizes btn btn-primary">
							ADD TO CART
						</div>
						<div class="size_selections row">
							<div class="quantity_and_shipping_form col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<% p.units.where.not(quantity: 0).each do |u| %>
									<%= f.fields_for :order_units do |ff| %>
										<div class="row">
											<div class="left cart_select_label col-lg-5 col-md-5 col-sm-5 col-xs-5">
											<% if u.size == "n/a" and u.colour == 'n/a'%>
											<b> Quantity:</b>
											<%elsif u.size != 'n/a' and u.colour == 'n/a'%>
											<b><%= u.size %></b>
											<%elsif u.size == 'n/a' and u.colour != 'n/a'%>
											<b><%= ff.label u.colour %></b>
											<%elsif u.size != 'n/a' and u.colour != 'n/a'%>
											<b><%= ff.label u.size %>, <%= ff.label u.colour %></b>
											<%end%>
											</div>
											<div class="right cart_data col-lg-4 col-md-4 col-sm-4 col-xs-6" id="unit_size" data-size="<%= u.size %>" data-colour="<%= u.colour %>">
											<%= ff.select :quantity, (0..u.quantity), {}, {class: "quantity_for_sum", "data-unit" => u.id} %>
											<%= ff.hidden_field :unit_id, :value => u.id %>
											</div>
										</div>
									<%end%>
								<%end%>
								<div class="select_delivery_method col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<br />
										<%= f.fields_for :merchant_orders do |ff|%>
											<%= ff.hidden_field :user_id, :value => p.user.id %>
											<%= ff.hidden_field :order_status, :value => 'false'%>
											<%= ff.hidden_field :product_id, :value => p.id %>
									<div class="merchant_orders_form">
											<%= ff.radio_button :delivery_method, "In Store Pick-Up", class:"in_store_delivery_method" %>
											<%= ff.label :delivery_method, "In Store Pick-Up", :value => "In Store Pick-Up" %>
											<%= ff.radio_button :delivery_method, "Standard Shipping", :checked => true, class:"shipping_delivery_method" %>
											<%= ff.label :delivery_method, "Standard Shipping", :value => "Standard Shipping"  %>
									</div>
								</div>
							 </div>
							 <div class="customer_comments col-lg-12 col-md-12 col-sm-12 col-xs-12">
								 <div class="show_comments_form_button col-lg-12 col-md-12 col-sm-12 col-xs-12">
									 Want to leave a message for the seller?
								 </div>
								 <div class="merchant_comments_form">
								<%= ff.label :customer_comments, hidden: true  %>
								<%= ff.text_area :customer_comments, class: "form-control", :rows=>6, placeholder: "Leave a comment for the seller along with your order." %>
								 </div>
								 <div class="hide_comments_form_button">
							 	 	<b>Return To My Selections</b>
								 </div>
							 </div>
							 <%end%>
						 </div>
					</div>
				<div class="thumbnails col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<br /> <br />
					<%if p.productfotos.any?%>
					<b>More Photos:</b>
					<%end%>
					<div class="row">
						<% p.productfotos.each do |ph| %>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="image_frame" style="height:100px">
								<%if ph.foto.exists?%>
								<a class="fancybox fancybox.image" rel="<%=ph.product.id%>" href="<%= (ph.foto.url(:large))%>"><img src="<%= (ph.foto.url(:thumb))%>" class="img-responsive"/></a>
								<%end%>
							</div>
						</div>
						<%end%>
					</div>
				</div>
					<%= hidden_field_tag "order[product_ids][]", p.id %>
			</div>
		</div>
