		<div class="row">
			<div class="remove_cart_product col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<a href='/cart/remove/"<%= p.id %>"'><span class="glyphicon glyphicon-remove"></span></a>
			</div>
			<div id="image" class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
				<% if !p.photo.blank? %>
	  		<%= image_tag p.photo.url(:medium), class: "img-responsive", width:"100%" %>
	  		<%elsif !p.stockphoto.blank? %>
	  		<%= image_tag p.stockphoto.photo.url(:medium), class: "img-responsive", width:"100%" %>
	  		<%end%>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div id="product_name" data-name="<%= p.name %>">
						</div>
						<div id="merchant_state_prov" data-prov="<%= p.user.state_prov %>">
						</div>
						<div id="product_shipping" data-shipping="<%= p.shipping_charge %>" class="product_name">
							<h3><%= p.name %>, <%= p.brand%></h3>
						</div>
						<% if p.currency_price(session[:site_country]) == 0 %>
						<% disabled_checker = true %>
						<div id="product_price" data-price="<%= p.currency_price(session[:site_country]) %>" class="product_price">
								<h4>Not Available! <br />Remove from cart to continue.</h4>
						</div>
						<%else%>
						<% disabled_checker = false %>
						<div id="product_price" data-price="<%= p.currency_price(session[:site_country]) %>" class="product_price">
								<h4 > <%= number_to_currency(p.currency_price(session[:site_country]), unit: '$') %></h4>
						</div>
						<%end%>
						<div class="contact_merchant">
	            <p>
	              <a href="<%= new_conversation_path(product_id: p.id) %>">
	              <span class="glyphicon glyphicon-envelope"></span> Message <%= p.user.merchant_name %>
	              </a>
	            </p>
	          </div>
						<p><%= simple_format(p.description) %></p>
						<div id="tax_rate" data-tax="<%= p.user.sales_tax %>">
						</div>
					</div>
					<div class="product_tabs col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div id="content">
						    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
	 				           <li class="active"><a data-toggle="tab" href='#<%= p.id%>A'>Merchant</a></li>
	 				           <li ><a data-toggle="tab" href='#<%= p.id%>B'>Returns</a></li>
							   <% unless p.units.any?{|a| a.size == 'n/a' }%>
	 				           <li ><a data-toggle="tab" href='#<%= p.id%>C'>Sizing</a></li>
							   <%end%>
	 						   <li ><a data-toggle="tab" href='#<%= p.id%>D'>Shipping</a></li>
						    </ul>
						    <div id="my-tab-content" class="tab-content">
								<div class="tab-pane active" id='<%= p.id%>A'>
		 							<p>
									<i> <%= p.user.merchant_name %> </i><br />
									<%= p.user.city %>, <%= p.user.state_prov%>	<br />
									</p>
						        </div>
								<div class="tab-pane" id='<%= p.id%>B'>
						        <% if p.product_return_policy.blank? %>
									<p>There is no return policy for this product.</p>
								<%else%>
									<p><%= simple_format(p.product_return_policy) %></p>
								<%end%>
						        </div>
								<% unless p.units.any?{|a| a.size == 'n/a' }%>
								<div class="tab-pane" id='<%= p.id%>C'>
   	  				             <% if p.size_details.blank?%>
   	  				             <p>No sizing details to show.</p>
   								 <%else%>
   								 <p><%= simple_format(p.size_details) %></p>
   	  							 <%end%>
						        </div>
										<%end%>
						        <div class="tab-pane" id='<%= p.id%>D'>
											<% if p.currency_domestic_shipping(session[:site_country]).blank? && p.currency_foreign_shipping(session[:site_country]).blank? %>
			                  <p>There is no shipping information to show.</p>
			                <%else%>
			                  <% if p.currency_domestic_shipping(session[:site_country]) == 0 && p.currency_foreign_shipping(session[:site_country]) == 0 %>
			                  <p>This product has free shipping!</p>
			                  <%else%>
			                  <p>
			                    <%= number_to_currency(p.currency_domestic_shipping(session[:site_country]), unit: '$') %> per unit for deliveries within <%=p.user.country%>, and
			                    <%= number_to_currency(p.currency_foreign_shipping(session[:site_country]), unit: '$') %> per unit for deliveries outside of <%=p.user.country%>.
			                   </p>
			                  <%end%>
			                <%end%>
			                <p>
										Shipping to:<br />
									<% p.user.default_permitted_destinations.each do |country| %>
										 - <%= country.country.common_name %><br />
									<%end%>
								 </p>
						        </div>
						    </div>
						</div>
					</div>

					<div class="add_to_cart col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<br />
						<div class="toggle_sizes btn btn-primary">
							MAKE SELECTION
						</div>
						<div class="size_selections row">
							<div class="quantity_and_shipping_form col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<% p.units.where.not(quantity: 0).each do |u| %>
									<%= f.fields_for :order_units, @order.order_units.build do |ff| %>
										<div class="row">
											<div class="left cart_select_label col-lg-5 col-md-5 col-sm-5 col-xs-5">
											<% if u.size == "n/a" and u.colour == 'n/a'%>
											<b> Quantity:</b>
											<%elsif u.size != 'n/a' and u.colour == 'n/a'%>
											<b><%= u.size %></b>
											<%elsif u.size == 'n/a' and u.colour != 'n/a'%>
											<b><%= ff.label u.colour %></b>
											<%elsif u.size != 'n/a' and u.colour != 'n/a'%>
											<b><%= ff.label u.size %>, <%= ff.label u.colour %></b>
											<%end%>
											</div>
											<div class="right cart_data col-lg-4 col-md-4 col-sm-4 col-xs-6" id="unit_size" data-size="<%= u.size %>" data-colour="<%= u.colour %>">
											<%= ff.select :quantity, (0..u.quantity), {}, {class: "quantity_for_sum", "data-unit" => u.id, disabled: disabled_checker} %>
											<%= ff.hidden_field :unit_id, :value => u.id %>
											</div>
										</div>
									<%end%>
								<%end%>
								<div class="select_delivery_method col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<br />
										<%= f.fields_for :merchant_orders, @order.merchant_orders.build do |ff|%>
											<%= ff.hidden_field :user_id, :value => p.user.id %>
											<%= ff.hidden_field :order_status, :value => 'false'%>
											<%= ff.hidden_field :product_id, :value => p.id %>
									<div class="merchant_orders_form">
											<%= ff.radio_button :delivery_method, "In Store Pick-Up", class:"in_store_delivery_method" %>
											<%= ff.label :delivery_method, "In Store Pick-Up", :value => "In Store Pick-Up" %>
											<%= ff.radio_button :delivery_method, "Standard Shipping", :checked => true, class:"shipping_delivery_method" %>
											<%= ff.label :delivery_method, "Standard Shipping", :value => "Standard Shipping"  %>
									</div>
								</div>
							 </div>
							 <div class="customer_comments col-lg-12 col-md-12 col-sm-12 col-xs-12">
								 <div class="show_comments_form_button col-lg-12 col-md-12 col-sm-12 col-xs-12">
									 Want to leave a message for the seller?
								 </div>
								 <div class="merchant_comments_form">
								<%= ff.label :customer_comments, hidden: true  %>
								<%= ff.text_area :customer_comments, class: "form-control", :rows=>6, placeholder: "Leave a comment for the seller along with your order." %>
								 </div>
								 <div class="hide_comments_form_button">
							 	 	<b>Return To My Selections</b>
								 </div>
							 </div>
							 <%end%>
						 </div>
					</div>
				<div class="thumbnails col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<br />
					<%if p.productfotos.any?%>
					<div class="row">
						<% p.productfotos.each do |ph| %>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="image_frame" style="height:100px">
								<a class="fancybox fancybox.image" rel="<%=ph.product.id%>" href="<%= (ph.foto.url(:large))%>"><img src="<%= (ph.foto.url(:thumb))%>" class="img-responsive"/></a>
							</div>
						</div>
						<%end%>
					</div>
					<%elsif p.stockproductfotos.any? %>
					<div class="row">
						<% p.stockproductfotos.each do |ph| %>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="image_frame" style="height:100px">
								<a class="fancybox fancybox.image" rel="<%=ph.id%>" href="<%= (ph.foto.url(:large))%>"><img src="<%= (ph.foto.url(:thumb))%>" class="img-responsive"/></a>
							</div>
						</div>
						<%end%>
					</div>
					<%end%>
				</div>
					<%= hidden_field_tag "order[product_ids][]", p.id %>
			</div>
		</div>
