
<%= form_for @order, :url => create_customer_details_order_path(@order), :html => { :onsubmit => "return validateCustomerDetailsForm();"} do |f| %>
<div class="col-lg-12 col-md-12 col-sm-12">
<div class="row">
  <div class="col-xs-12">
    <br />
  <h4><%= bootstrap_flash %></h4>
  <h4>
		<div id="customer_details_error" class="alert fade in alert-danger" style="display:none;">
			<button type="button" class="close" id="customer_details_error_dismiss">×</button>
			Error: Fields marked in red are required
		</div>
	</h4>
  <h4>
		<div id="customer_details_email_error" class="alert fade in alert-danger" style="display:none;">
			<button type="button" class="close" id="customer_details_email_error_dismiss">×</button>
			Error: Email fields are invalid or do not match
		</div>
	</h4>
  </div>
    <div class="col-lg-4 col-md-4 col-sm-2 hidden-xs">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <% if @order.errors.any? %><br />
          <div id="error_explanation" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul>
            <% @order.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
          <br />
        <% end %>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="order_form_headings"><h2>Customer Details:</h2></div>
      </div>
      <div class="form_field_divs col-lg-6 col-md-6 col-sm-12 col-xs-12">
       <%= f.label :cust_first_name, "First Name:", hidden:true  %>
       <%= f.text_field :cust_first_name, class: "form-control input-lg", placeholder: "First Name", input_html: { autocomplete: 'off' } %>
      </div>
      <div class="form_field_divs col-lg-6 col-md-6 col-sm-12 col-xs-12">
       <%= f.label :cust_last_name, "Last Name:", hidden:true  %>
       <%= f.text_field :cust_last_name, class: "form-control input-lg", placeholder: "Last Name" %>
      </div>
      <div class="form_field_divs col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <%= f.label :cust_email, "Email:", hidden:true %>
        <%= f.text_field :cust_email, class: "form-control input-lg", placeholder: "Email", input_html: { autocomplete: 'off' } %>
      </div>
      <div class="form_field_divs col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <%= f.label :cust_email_confirmation, "Confirm Email:", hidden:true  %>
        <%= f.text_field :cust_email_confirmation, class: "form-control input-lg", placeholder: "Confirm Email" %>
      <br /><br />
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="order_form_headings"><h2>Shipping Address:</h2></div>
      </div>
      <div class="form_field_divs col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <%= f.label :street_address, "Street Address:", hidden:true %>
          <%= f.text_field :street_address, class: "form-control input-lg", placeholder: "Street Address" %>
      </div>
      <div class="form_field_divs col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <%= f.label :city, "City:", hidden:true %>
          <%= f.text_field :city, class: "form-control input-lg", placeholder: "City" %>
      </div>
      <%
        prov_state = {
        'Canada' =>
                ['Alberta', 'British Columbia', 'Manitoba', 'New Brunswick', 'Newfoundland and Labrador', 'Northwest Territories', 'Nova Scotia', 'Nunavut', 'Ontario', 'Prince Edward Island', 'Quebec', 'Saskatchewan', 'Yukon'],
        'United States of America' =>
                ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
                  'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina',
                  'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'Washington, D.C.', 'West Virginia', 'Wisconsin', 'Wyoming']}
                %>
      <div class="form_field_divs input-lg col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <%= f.label :country, "Country:", hidden:true %>
          <%= f.select :country, options_for_select(["United States of America", "Canada"], f.object.country), :prompt => 'Country' %>
      </div>
      <div class="form_field_divs input-lg col-lg-6 col-md-6 col-sm-12 col-xs-12" >
        <%= f.label :prov_state, "State/Province:", hidden:true %>
        <%= f.select :prov_state, grouped_options_for_select(prov_state, f.object.prov_state), class: "province_state_select", :prompt => 'Province/State' %>
      </div>
      <div class="form_field_divs col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br />
          <%= f.label :postal_zip, "Zip/Postal:", hidden:true   %>
          <%= f.text_field :postal_zip, class: "form-control input-lg", placeholder: "Zip/Postal Code" %>
          <br /><br /><br />
      </div>
      <div class="merchant_order_products">
        <!-- List out the complete order details here -->
      </div>
      <div  class="order_form_button">
          <br />
           <%= f.submit "PROCEED TO PAYMENT", class: "btn btn-primary btn-large purchase_button" %>
           <br /><br /><br /><br /><br /><br />
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-2 hidden-xs">
    </div>
  </div>
</div>
<%end%>
