<!-- Store Page Navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="nav navbar-nav hidden-xs">
			<li class="dropdown">
					<a href="#" class="dropdown-toggle menu_logo" data-toggle="dropdown" role="button" aria-expanded="false">
						<%= image_tag('menu_icon.png') %>
					</a>
					<ul class="dropdown-menu product_main_menu" role="menu">
						<div class="col-lg-3 col-md-3 col-sm-12">
							<br />
							<li class="heading"><a>HARD GOODS</a></li>
							<li><%= link_to "SKIS", products_hard_goods_path %></li>
							<li><%= link_to "BOOTS", products_clothing_path %></li>
							<li><%= link_to "POLES", products_waxing_path %></li>
							<br />
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12">
							<br />
							<li class="heading"><a>CLOTHING</a></li>
							<li><%= link_to "PARKAS", track_orders_my_order_path %></li>
							<li><%= link_to "SKI CLOTHING", new_complaint_path %></li>
							<li><%= link_to "CASUAL WEAR", infos_terms_path %></li>
							<br />
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12">
							<br />
							<li class="heading"><a>WAXING</a></li>
							<li><%= link_to "GRIP WAX", admin_products_path %></li>
							<li><%= link_to "GLIDE WAX", new_merchant_application_path %></li>
							<li><%= link_to "WAX ACCESSORIES", new_merchant_application_path %></li>
							<br />
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12">
							<br />
							<li class="heading"><a>ACCESSORIES</a></li>
							<li><%= link_to "SKI BAGS", admin_products_path %></li>
							<li><%= link_to "DUFFEL BAGS", new_merchant_application_path %></li>
							<li><%= link_to "BACK PACKS", new_merchant_application_path %></li>
							<br />
						</div>
					</ul>
			</li>
		</div>
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href='<%=products_path%>'>
			 		<%= image_tag('store_logo_bitmap.png', height:'25px') %>
		  	</a>
			</div>
			<div class="nav navbar-nav hidden-sm hidden-xs">
		     <div class="input-group">
		 		  <div class="product_search_large">
		  		 <%= form_tag(products_all_products_path, :method => 'get', id: "search-form") do %>
		          <%= text_field_tag :query, params[:query], class:"form-control", placeholder: "Search..." %>
		               <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
				   <%end%>
		       </div>
				 </div>
			</div>
			<ul class="nav navbar-nav navbar-right hidden-xs">
				 <li class="country_flag_container"><a>SHOPPING IN: <span class="country_flag"><%= image_tag('can_flag.png', height:'18px') %></span></a></li>
				 <li class="cart"><a href='/cart'><span class="glyphicon glyphicon-shopping-cart" ></span><span class="cart_product_number"><%= @cart.count%></span></a></li>
			</ul>
		<!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			 <ul class="nav navbar-nav main_menu hidden-lg hidden-md hidden-sm">
						<li><a href='/cart'>MY PRODUCTS ( <%= @cart.count%> )</a></li>
						<li><%= link_to "HARD GOODS", products_hard_goods_path %></li>
						<li><%= link_to "CLOTHING", products_clothing_path %></li>
						<li><%= link_to "WAXING", products_waxing_path %></li>
						<li><%= link_to "ACCESSORIES", products_accessories_path %></li>
            <li><%= link_to "TRACK MY ORDER", track_orders_my_order_path %></li>
            <li><%= link_to "FILE A COMPLAINT", new_complaint_path %></li>
            <li><%= link_to "STORE POLICIES", infos_terms_path %></li>
						<li><%= link_to "MY STORE", admin_products_path %></li>
						<li><%= link_to "BECOME A MERCHANT", new_merchant_application_path %></li>
			 </ul>
		  </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
