<!-- Store Page Navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">

	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
			<div class="nav navbar-nav hidden-xs">
				<li class="dropdown">
						<a href="#" class="dropdown-toggle menu_logo" data-toggle="dropdown" role="button" aria-expanded="false">
							<%= image_tag('menu_icon.png') %>

						</a>
						<ul class="dropdown-menu product_main_menu" role="menu">
							<div class="col-lg-6">
	            <li><a style="color:grey">PRODUCT CATEGORIES</a></li>
							<li><%= link_to "HARD GOODS", products_hard_goods_path %></li>
							<li><%= link_to "CLOTHING", products_clothing_path %></li>
							<li><%= link_to "WAXING", products_waxing_path %></li>
							<li><%= link_to "ACCESSORIES", products_accessories_path %></li>
						  <li class="divider" ></li>
						</div>
						<div class="col-lg-6">
							<li><a style="color:grey">CUSTOMER SUPPORT</a></li>
	            <li><%= link_to "TRACK MY ORDER", track_orders_my_order_path %></li>
	            <li><%= link_to "FILE A COMPLAINT", new_complaint_path %></li>
	            <li><%= link_to "STORE POLICIES", infos_terms_path %></li>
	            <li class="divider" ></li>
	            <li><a style="color:grey">MERCHANTS</a></li>
							<li><%= link_to "MY STORE", admin_products_path %></li>
							<li><%= link_to "BECOME A MERCHANT", new_merchant_application_path %></li>
						</div>
						</ul>
				</li>
		</div>
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href='<%=products_path%>'>
			 		<%= image_tag('store_logo_bitmap.png', height:'25px') %>
		  	</a>
			</div>
			<ul class="nav navbar-nav navbar-right hidden-xs">
				 <li class="cart"><a href='/cart'><span class="glyphicon glyphicon-shopping-cart" ></span> <%= @cart.count%></a></li>
			</ul>
			<div class="nav navbar-nav hidden-md hidden-sm hidden-xs">
		     <div class="input-group">
		 		  <div class="product_search_large">
		  		 <%= form_tag(products_all_products_path, :method => 'get', id: "search-form") do %>
		          <%= text_field_tag :query, params[:query], class:"form-control", placeholder: "Search..." %>
		               <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
				   <%end%>
		       </div>
				 </div>
			</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			 <ul class="nav navbar-nav main_menu hidden-lg hidden-md hidden-sm">
						<li><a href='/cart'>MY PRODUCTS ( <%= @cart.count%> )</a></li>
						<li><%= link_to "HARD GOODS", products_hard_goods_path %></li>
						<li><%= link_to "CLOTHING", products_clothing_path %></li>
						<li><%= link_to "WAXING", products_waxing_path %></li>
						<li><%= link_to "ACCESSORIES", products_accessories_path %></li>
            <li><%= link_to "TRACK MY ORDER", track_orders_my_order_path %></li>
            <li><%= link_to "FILE A COMPLAINT", new_complaint_path %></li>
            <li><%= link_to "STORE POLICIES", infos_terms_path %></li>
						<li><%= link_to "MY STORE", admin_products_path %></li>
						<li><%= link_to "BECOME A MERCHANT", new_merchant_application_path %></li>
			 </ul>
		  </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
