<div class="article" id="<%=article.date_published%>">
			<div class="facebook_well_main" style="text-align:center">
				 <div class="fb-video" data-href="<%= article.location %>" data-width="500" data-show-text="false">
				 	<blockquote cite="<%= article.location %>" class="fb-xfbml-parse-ignore">
				 		<a href="<%= article.location %>"><%= article.title%></a>
						<p><%= article.title%></p>
				 	</blockquote>
				 </div>
			</div>
			<div id="article_well" class="article_well_main">
	   	  <div class="article_text col-lg-12 col-md-12 col-sm-12" >
	 	      <h4 class="article_title"><%= link_to article.title, article_path(article) %></h4>
					<% unless article.description.blank? %>
					<p class="article_description" title="Click to Expand">
	 		    <%= article.description.html_safe%>
	 	      </p>
					<% end %>
	       </div>
	 	 </div>
			<div class="comments_row">
		   	  <%= Date.parse(article.date_published).strftime("%b %d, %Y") %>  &nbsp|&nbsp
		   		<span class="glyphicon glyphicon-link"></span>&nbsp
		   		<%= link_to "facebook.com", "#{article.location}", :target => "_blank"%> &nbsp|&nbsp
		   		<%= link_to article_path(article) do %>
		   		<span class="glyphicon glyphicon-comment"></span>Comments (<span class="fb-comments-count" data-href="http://www.ski-lines.com/articles/<%=article.id%>"></span>)
		   		<% end %>
	   	</div>
</div>
