
	<div class="container content">
				<br /> <br /><br /><br /> <br /><br />
			 	<div class="row">
				  <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
				  </div>
					<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
						<br /> <br /><br />
						<div class="devise_forms_background">
							<br />
							<h4>Start Selling on SKI-LINES</h4>
							<%= link_to "APPLY NOW", new_merchant_application_path, class: "btn-primary btn bt-large registration_button"%>
							<br /><br />
						</div>
					</div>
					<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
						 <div class="devise_forms_background">
								<br />
								<h4>USER SIGN IN</h4>
								<br />
								<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
							  <div class="field">
								  <div class="devise_session_label">
							    <%= f.label :email, hidden: true  %>
							      </div>
							    <%= f.email_field :email, class: "form-control input-lg", autofocus: true, placeholder: "Email" %>
							  </div>
							  <div class="field">
								  <div class="devise_session_label">
							    <%= f.label :password, hidden: true %>
								  </div>
							    <%= f.password_field :password, class: "form-control input-lg", autocomplete: "off", placeholder: "Password" %>
							  </div>
				        <div class="devise_session_label">
								  <div class="actions">
										<br />
								    <%= f.submit "LOG IN", class: "btn btn-large btn-primary registration_button"%>
								  </div>
							  </div>
								<% end %><br />
						</div><br /><br />
					</div>

					<div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
					</div>
			</div>
	 </div>
