<style type="text/css" media="screen">
.customer_order_email{ text-align:center; }
.order_ref{ text-align:left; }
h2{
	border-bottom-style:solid;
	border-color:#adadad;
	border-width:thin;
}
</style>
<p>Hi <%= @order.cust_first_name %>!</p>
<p>The details of your recent purchase through Ski-Lines can be found below:</p>
<h2><br /></h2>
<div class="customer_order_email">
	<div class="order_ref">
		<b>Order No.:</b> <%= @order.id %><br />
		<b>Date:</b> <%= @order.created_at.strftime("%B %-d, %Y at %l:%M%P %Z") %><br />
	</div>
	<div class="customer_product_email_listing">
		<h3>Purchase Details:</h3>
		<% subtotal = 0 %>
		<% @order.order_units.where.not(quantity: 0).each do |f| %>
		<% subtotal += (f.unit.product.price*f.quantity) %>
			<b><%= f.unit.product.name%></b>, <%=number_to_currency(f.unit.product.price, unit: '$') %><br />
			<% if (f.unit.size != 'n/a') and (f.unit.colour != 'n/a')%>
			<%= f.quantity %> X <%= f.unit.size %>, <%= f.unit.colour %><br />
			<%elsif (f.unit.size) == 'n/a' and (f.unit.colour != 'n/a') %>
			<%= f.quantity %> X <%= f.unit.colour %><br />
			<%elsif (f.unit.size != 'n/a') and (f.unit.colour == 'n/a')%>
			<%= f.quantity %> X <%= f.unit.size %><br />
			<% elsif (f.unit.size == 'n/a') and (f.unit.colour == 'n/a')%>
			<%= f.quantity %>
			<%end%>
			<b>Merchant Details:</b><br />
			Store: <%= f.unit.product.user.merchant_name %><br /><br />
			<% @order.merchant_orders.where(product_id: f.unit.product.id).each do |s| %>
				<% if s.delivery_method == "Standard Shipping"%>
					Delivery Method: <%= s.delivery_method%><br />
					Shipping From: <%= f.unit.product.user.city %>, <%= f.unit.product.user.state_prov%>, <%= f.unit.product.user.country %><br /><br />
				<%else%>
					Delivery Method: <%= s.delivery_method%><br />
					Pick Up Order From: <%= f.unit.product.user.merchant_name %> in <%= f.unit.product.user.city %>, <%= f.unit.product.user.state_prov%>, <%= f.unit.product.user.country %><br />
				<%end%>
					Customer Comments: <%= s.customer_comments %><br /><br />
			<%end%>
	</div>
	<%end%>
	<h3>Payment Details:</h3>
	Sub-total: <%= number_to_currency(subtotal, unit: '$')%><br />
	Total Shipping: <%= number_to_currency(@order.shipping, unit: '$') %><br />
	Total Sales Tax: <%= number_to_currency(@order.sales_tax, unit: '$') %><br />
	<b>Total: <%= number_to_currency(@order.amount, unit: '$' )%></b><br />
	<p><%= number_to_currency(@order.amount, unit: '$' ) %> has been charged to your credit card.</p>
	<p>If you have any questions or concerns about your order, get in touch with the merchant at the details listed above.</p>
	<h2><br /></h2>
</div>
