<style type="text/css" media="screen">

.order{ text-align:center; }
.order_ref{ text-align:left; }
h2{
	border-bottom-style:solid;
	border-color:#adadad;
	border-width:thin;
}
</style>

<div class="merchant_order_email">
	<p>Hello <%= @user.merchant_name %>,</p>

	<% user_product_units = [] %>
	<%@order.order_units.where.not(quantity: 0).each do |u|%>
		<% if u.unit.product.user.id == @user.id %>
		<% user_product_units << u %>
			<%else%><%next%>
		<%end%>
	<%end%>
	<p>You have <%= pluralize(user_product_units.count, 'item') %> to prepare!</p>
	<p>Please fill this order as soon as possible. Once the purchased items have been sent for delivery, or picked up by the customer, mark this order as "Filled" on your merchant account.</p>
	<h2><br /></h2>
	<div class="order">
		<div class="order_ref">
		<b>Order No.:</b> <%= @order.id %><br />
		<b>Date:</b> <%= @order.created_at.strftime("%B %-d, %Y at %l:%M%P %Z") %><br />
		</div>
		<div class="customer_details">
			<h3>Customer Details:</h3>
			Name: <%= @order.cust_first_name %> <%= @order.cust_last_name %> <br />
			Email: <%= @order.cust_email %><br /><br />
			<%= @order.street_address %><br />
			<%= @order.city %>, <%= @order.prov_state %><br />
			<%= @order.country %><br />
			<%= @order.postal_zip %>
		</div>
		<div class="products_listing">
			<h3>Purchased <%= pluralize(user_product_units.count, 'Product') %>:</h3>
			<% user_product_units.each_with_index do |p, index| %>
			<div class="product_in_email">
				<b>Product <%= index+1%>: </b><br />
					<%= p.unit.product.name %>, Product id: <%= p.unit.product.id %><br />
					Price: <%= number_to_currency(p.sub_total/p.quantity, unit: '$') %><br />
					<%if p.unit.size == "n/a" and p.unit.colour == "n/a" %>
					Quantity: <%= p.quantity %><br />
					<% elsif p.unit.size != "n/a" and p.unit.colour == "n/a"%>
					Size: <%= p.unit.size %><br />
					Quantity: <%= p.quantity %><br />
					<% elsif p.unit.size == "n/a" and p.unit.colour != "n/a"%>
					Colour: <%= p.unit.colour %><br />
					Quantity: <%= p.quantity %><br />
					<% elsif p.unit.size != "n/a" and p.unit.colour != "n/a"%>
					Size: <%= p.unit.size %><br />
					Colour: <%= p.unit.colour %><br />
					Quantity: <%= p.quantity %><br />
					<%else%>
					<%end%>
					Shipping Method: <%= @order.merchant_orders.where(product_id: p.unit.product.id).map{|s| s.delivery_method }.join %><br />
					Customer Message:<br />
					<%= @order.merchant_orders.where(product_id: p.unit.product.id).map{|s| s.customer_comments }.join%><br /><br />
			</div>
			<%end%>
		</div>
		<div class="payment_details">
			<h3>Payment Details:</h3>
			<% total = 0 %><% subtotal = 0 %><% shipping = 0 %><% tax = 0 %>
			<% user_product_units.each do |p|  %>
				<% subtotal += p.sub_total%>
				<% tax += p.sales_tax_charged %>
				<% shipping += p.shipping_charged %>
			<%end%>
			<% total = subtotal + shipping + tax %>
			Subtotal: <%= number_to_currency(subtotal, unit: '$') %><br />
			Shipping: <%= number_to_currency(shipping, unit: '$') %><br />
			Sales Tax: <%= number_to_currency(tax, unit: '$') %><br />
			<b>Total: <%= number_to_currency(total, unit: '$') %></b> <br />
		</div>
		<br />
		<h2><br /></h2>
	</div>
</div>
