<!-- Fixed navbar -->
<nav id="nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="<%=shop_path%>">SKI LINES</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span></a>
          <ul class="dropdown-menu" role="menu" style="text-align:center;">
            <%
            # display different links based on the sign-in status of the user
            if user_signed_in?
              %>
              <%if current_user.merchant?%>
              <li><%= link_to "My Store", admin_products_path %></li>
              <%end%>
              <li><%= link_to "My Profile", edit_user_registration_path %></li>
              <% if current_user.merchant_rep? %>
                <li><%= link_to "Add Merchant", new_user_registration_path %></li>
              <%end%>
              <% if current_user.article_publisher? %>
                <li><%= link_to "Update", update_path %></li>
              <%end%>
              <li> <%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              <%
            else
              %>
              <li><%= link_to "Login", new_user_session_path %></li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <%
            end
            %>
          </ul>
        </li>

        <%
        # Check to see if we want to show the cart
        showCart = false
        if user_signed_in?
          unless current_user.article_publisher? || current_user.merchant?
            showCart = true
          end
        else
          showCart = true
        end
        if showCart
          %>
          <li>
            <a href="/cart">
              <i class="fa fa-shopping-cart"></i>&nbsp;
              <small>(<%=@cart.count%>)</small>
              <span class="visible-xs-inline">Cart</span>
            </a>
          </li>
          <%
        end
        %>

        <%
        # Check to see if we want to show the mailbox
        if user_signed_in? && current_user.has_mailbox_access
          %>
          <li>
            <%= link_to mailbox_inbox_path, :class => '' do %> <span class="glyphicon glyphicon-envelope"></span><span class="badge badge-notify"><%=mailbox.inbox(:unread => true).count(:id, :distinct => true)%></span> <% end %>
          </li>
          <%
        end
        %>

        <%
        # Display the country flag and modal selector
        if @prevent_change_to_country
          %>
          <li><a><div class="navbarflag flag flag-<%=session[:site_country]%>"></div></a></li>
          <%
        else
          %>
          <li>
            <a class="country_icon" href="#" data-toggle="modal" data-target="#country_select"><div class="navbarflag flag flag-<%=session[:site_country]%>"></div></a>
          </li>
          <%
        end
        %>
      </ul>
      <%=form_tag(products_all_products_path, :method => 'get', id: "search-form", class: "navbar-form navbar-right") do %>
        <a href="#" class="search-button"><i class="fa fa-search"></i></a>
        <div class="form-group">
          <%= text_field_tag :query, params[:query], class:"form-control", placeholder: "Search..." %>
        </div>
      <%end%>
    </div>
    <!-- /.nav-collapse -->
  </div>
</nav>
<!-- nav-push is used to push the content to the bottom when navbar has .navbar-fixed-top class and equals to navbar height  -->
<div id="nav-push" class="hidden-xs"></div>
