<div class="container ">
      <%= form_for [:admin, @product], html: { class: "directUpload"} do |f| %>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <% if @product.errors.any? %>
	      <div id="error_explanation">
	          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
	          <ul>
	          <% @product.errors.full_messages.each do |message| %>
	            <li><%= message %></li>
	          <% end %>
	          </ul>
	      </div>
      <% end %>
			</div>
			<div class="admin_product_well_title col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="row">
					<div class="title col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<%= f.hidden_field :user_id, :value => current_user.id %>
					<%= f.hidden_field :status, :value => "false"%>
					<%= f.label :name, "Product Name:", hidden: true %>
					<%= f.text_field :name, class: "form-control input-lg", placeholder: "Product Name", autofocus: !@product.persisted? %>
					</div>
				</div>
			</div>

			<div class="admin_product_well col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
	      	  <div class="row">
	      		  	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	      		        <% if @product.photo.exists? %>
	          	   		<div class="upload-preview img-responsive">
	          	  	    <%= image_tag @product.photo.url(:medium), class: "img-responsive", width:"100%" %><br/><br>
	          			  </div>
	      	      	  <%= f.label :photo, "Replace Photo:" %><br />
	      	          <%= f.file_field :photo, class: 'file' %><br />
	      	  		    <%else%>
	      			     <div class="upload-preview img-responsive" ><img class="img-responsive" /></div>
	      	    	     <%= f.label :photo, "Upload Photo:" %><br />
	      	           <%= f.file_field :photo, class:'file img-responsive' %>
	      	  	  <% end %>
	      			  </div>
	      		 </div>
	      	</div>
          <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
        		<div class="row">
        		  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        			<%= f.label :description, "Product Description:" %>
        			<%= f.text_area :description, class: "form-control", :cols => 80, :rows=>5, placeholder: "Product Description. Describe the product with as much detailed information as you like." %>
        		<br />
        		  </div>
        		</div>
        		<div class="row">
        		  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        			<%= f.label :size_details, "Sizing Details:"%>
        			<%= f.text_area :size_details, class: "form-control", :cols => 80, :rows=>2, placeholder: "Provide additional information on how to select the correct size. Leave this blank if sizing is not applicable." %>
        		<br />
        		  </div>
        		</div>
						<div class="row">
        		  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        		     <%= f.label :category, "Product Category:" %><br>
        		     <%= collection_select :category, :id, @root_categories, :id, :name, :selected => (f.object.categories.count() > 0 ? f.object.categories.first.id : 0), :prompt => true %>
        		  </div>
        	  </div>
						<br />
						<div class="row">
	 						 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	 						 <%= f.label :product_return_policy, "Return Policy:"%>
	 						 <% if current_user.user_return_policy.blank? %>
	 							 <%= f.text_area :product_return_policy, class: "form-control", :cols => 80, :rows=>2 %>
	 							 <%= link_to "Set Default Return Policy", edit_user_registration_path(anchor: "user_return_policy") %><br />
	 						 <%else%>
	 							 <%= f.text_area :product_return_policy, value: current_user.user_return_policy, class: "form-control", :cols => 80, :rows=>3 %>
	 						 <%end%>
	 					 <br />
	 						 </div>
	 				 </div>
				 </div>
			 </div>
			 <!-- Pricing and permitted destinations -->
			 <div class="admin_product_well col-lg-12 col-md-12 col-sm-12 col-xs-12">
				 <div class="row">
          <%= render partial: "admin/products/currency_forms/usd_form", locals: {:f => f} %>
          <%= render partial: "admin/products/currency_forms/cad_form", locals: {:f => f} %>
				 </div>
			 </div>
			 <!-- Addiitonal Product Photos -->
				<div class="admin_product_well col-lg-12 col-md-12 col-sm-12 col-xs-12">
		      <div class="row">
		      	<div class="more_photos col-lg-12 col-md-12 col-sm-12 col-xs-12">
		      		<div class="row">
		      			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		      				<h4><b>Additional Product Photos:</b></h4>
		      				<br />
		      			</div>
		      		</div>
		      		<div class="row">
		      					<%= f.fields_for :productfotos, build_productfotos(@product), html: { class: "directUpload"} do |ff| %>
		      				<div class="admin_productfotos col-lg-3 col-md-4 col-sm-6 col-xs-12" style="height:200px">
		      						  <% if ff.object.new_record? %>
		      						  <%= ff.label :foto, "Add Photo:" %>
		      				          <%= ff.file_field :foto %>
		      						  <%else%>
		      						  <%= image_tag ff.object.foto.url(:thumb), class: "img-responsive" %>
		      						  <%= ff.label :foto, "Replace Photo:" %>
		      				          <%= ff.file_field :foto %>
		      						  <%= ff.label :foto, "Remove Photo:"%>
		      						  <%= ff.check_box '_destroy' %>
		      						  <%end%>
		      				  <br /><br /><br /><br />
		      				</div>
		      					<%end%>
		      		</div>
		      	</div>
		      </div>
				</div>
	      <div class="row">
	      	<div class="order_form_button col-lg-12 col-md-12 col-sm-12 col-xs-12">
	             <div class="actions">
                 <%
                 if @product.persisted?
                   %><%= f.submit "EDIT PRODUCT", class: "btn btn-large btn-primary purchase_button" %><%
                 else
                   %><%= f.submit "ADD PRODUCT", class: "btn btn-large btn-primary purchase_button" %><%
                 end
	               %>
	             </div>
	      	</div>
	      </div>
      <% end %>
   </div>
  <br /><br /><br /><br /><br /><br /><br /><br />
