<div class="container ">
      <%= form_for [:admin, @product], :html => { :onsubmit => "return validateProductForm();", :class => "directUpload" } do |f| %>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <% if @product.errors.any? %>
	      <div id="error_explanation">
	          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
	          <ul>
	          <% @product.errors.full_messages.each do |message| %>
	            <li><%= message %></li>
	          <% end %>
	          </ul>
	      </div>
      <% end %>
			</div>
			<div class="admin_product_well_title col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="row">
					<div class="title col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <% unless f.object.persisted? %>
					<%= f.hidden_field :status, :value => "false"%>
          <%end%>
          <%= f.label :brand, "Brand:", hidden: true %>
					<%= f.text_field :brand, class: "form-control input-lg", placeholder: "Brand" %>
					</div>
          <div class="title col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <%= f.label :name, "Product Model:", hidden: true %>
  					<%= f.text_field :name, class: "form-control input-lg", placeholder: "Product Name", autofocus: !@product.persisted? %>
					</div>
				</div>
			</div>
      <% if current_user.merchant_rep? %>
      <div class="admin_product_well col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
          <div class="title col-lg-6 col-md-6 col-sm-8 col-xs-12">
          <%= f.label :user_id, "Merchant:" %>
          <%= f.collection_select(:user_id, User.where(merchant: true).where(merchant_rep: false), :id, :merchant_name, selected: session[:merchant_selected], prompt: "--select merchant--")%>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-4 hidden-xs">
          </div>
        </div>
      </div>
      <%else%>
        <%= f.hidden_field :user_id, :value => current_user.id %>
      <%end%>
			<div class="admin_product_well col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
	      	  <div class="row">
	      		  	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	      		        <% if @product.photo.exists? %>
	          	   		<div class="upload-preview img-responsive">
	          	  	    <%= image_tag @product.photo.url(:medium), class: "img-responsive", width:"100%" %><br/><br>
	          			  </div>
	      	      	  <%= f.label :photo, "Replace Photo:" %><br />
	      	          <%= f.file_field :photo, class: 'file' %><br />
	      	  		    <%else%>
	      			     <div class="upload-preview img-responsive" ><img class="img-responsive" /></div>
	      	    	     <%= f.label :photo, "Upload Photo:" %><br />
	      	           <%= f.file_field :photo, class:'file img-responsive' %>
	      	  	      <% end %>
	      			  </div>
	      		 </div>
	      	</div>
          <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
        		<div class="row">
        		  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        			<%= f.label :description, "Product Description:" %>&nbsp;<span class="glyphicon glyphicon-info-sign" rel="popover" title="Product Description" data-content="Provide a detailed description of the product." data-trigger="hover" data-placement="top"></span>
        			<%= f.text_area :description, class: "form-control", :cols => 80, :rows=>5 %>
        		<br />
        		  </div>
        		</div>
        		<div class="row">
        		  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        			<%= f.label :size_details, "Sizing Details:"%>&nbsp;<span class="glyphicon glyphicon-info-sign" rel="popover" title="Sizing Details" data-content="Provide additional information on how to select the correct size." data-trigger="hover" data-placement="top"></span>
        			<%= f.text_area :size_details, class: "form-control", :cols => 80, :rows=>2 %>
        		<br />
        		  </div>
        		</div>
						<div class="row">
        		  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        		     <%= f.label :category, "Product Category:"%>&nbsp;<span class="glyphicon glyphicon-info-sign" rel="popover" title="Product Category" data-content="It is helpful for both you and the user to accurately categorize you products." data-trigger="hover" data-placement="top"></span>
                 <br />
                 <span id="product_form_category_display" name="product_form_category_display">
                   <%
                   # Loop through all of the parent categories and display them if any exist
                   category_id_value = "0"
                   if(!f.object.categories.first.nil?)
                     category_id_value = f.object.categories.first.id
                     f.object.categories.first.get_parent_categories.reverse_each do |parent_category|
                       %><%=parent_category.name + " > "%><%
                     end
                     # Display the name of the current category
                     %><%=f.object.categories.first.name%><%
                   else
                     # We did not have any existing categories, check the category_id parameter. If passed we will set it
                     if params[:category_id]
                       category_id_value = params[:category_id]
                       # Get the current category object
                       cur_category_object = @all_categories.find(category_id_value)
                       # Display the parent categories
                       cur_category_object.get_parent_categories.reverse_each do |parent_category|
                         %><%=parent_category.name + " > "%><%
                       end
                       # Display the current category
                       %><%=cur_category_object.name%><%
                     else
                       %><%="None Selected"%><%
                     end
                   end
                   %>
                 </span>
                 <%
                 # Display the edit link
                 %>&nbsp;<a href="#" data-toggle="modal" data-target="#modal_category_select">Edit</a><%
                 # Set the hidden input field to store the form value for the category_id
                 %>
                 <input id="category_id" name="category_id" type="hidden" value="<%=category_id_value%>" />
        		  </div>
        	  </div>
						<br />
						<div class="row">
	 						 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	 						 <%= f.label :product_return_policy, "Return Policy:"%>
	 						 <% if current_user.user_return_policy.blank? %>
	 							 <%= f.text_area :product_return_policy, class: "form-control", :cols => 80, :rows=>2 %>
	 							 <%= link_to "Set Default Return Policy", edit_user_registration_path(anchor: "user_return_policy") %><br />
	 						 <%else%>
	 							 <%= f.text_area :product_return_policy, value: current_user.user_return_policy, class: "form-control", :cols => 80, :rows=>3 %>
	 						 <%end%>
	 					 <br />
	 						 </div>
	 				 </div>
				 </div>
			 </div>
			 <!-- Pricing and permitted destinations -->
			 <div class="admin_product_well col-lg-12 col-md-12 col-sm-12 col-xs-12">
				 <div class="row">
          <%= render partial: "admin/products/currency_forms/usd_form", locals: {:f => f} %>
          <%= render partial: "admin/products/currency_forms/cad_form", locals: {:f => f} %>
				 </div>
			 </div>
			 <!-- Addiitonal Product Photos -->
				<div class="admin_product_well col-lg-12 col-md-12 col-sm-12 col-xs-12">
		      <div class="row">
		      	<div class="more_photos col-lg-12 col-md-12 col-sm-12 col-xs-12">
		      		<div class="row">
		      			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		      				<h4><b>Additional Product Photos:</b></h4>
		      				<br />
		      			</div>
		      		</div>
		      		<div class="row">
		      					<%= f.fields_for :productfotos, build_productfotos(@product), html: { class: "directUpload"} do |ff| %>
		      				<div class="admin_productfotos col-lg-3 col-md-4 col-sm-6 col-xs-12" style="height:200px">
		      						  <% if ff.object.new_record? %>
		      						  <%= ff.label :foto, "Add Photo:" %>
		      				          <%= ff.file_field :foto %>
		      						  <%else%>
		      						  <%= image_tag ff.object.foto.url(:thumb), class: "img-responsive" %>
		      						  <%= ff.label :foto, "Replace Photo:" %>
		      				          <%= ff.file_field :foto %>
		      						  <%= ff.label :foto, "Remove Photo:"%>
		      						  <%= ff.check_box '_destroy' %>
		      						  <%end%>
		      				  <br /><br /><br /><br />
		      				</div>
		      					<%end%>
		      		</div>
		      	</div>
		      </div>
				</div>
	      <div class="row">
	      	<div class="order_form_button col-lg-12 col-md-12 col-sm-12 col-xs-12">
	             <div class="actions">
                 <%
                 if @product.persisted?
                   %><%= f.submit "SAVE", class: "btn btn-large btn-primary purchase_button" %><%
                 else
                   %><%= f.submit "ADD PRODUCT", class: "btn btn-large btn-primary purchase_button" %><%
                 end
	               %>
	             </div>
	      	</div>
	      </div>
      <% end %>
   </div>
  <br /><br /><br /><br /><br /><br /><br /><br />
<%= render 'admin/modals/category_select' %>
