<div class="products">
  <table class="hoverTable">
    <tr>
      <th>ID</th>
      <th>Brand</th>
      <th>Model</th>
      <th>Price</th>
      <th>Domestic Shipping</th>
      <th>Foreign Shipping</th>
      <th>Stock</th>
      <th>Sold</th>
      <th>Status</th>
      <th colspan="2">Options</th>
    </tr>
    <%
    # Only display table rows if we have products to show
    if !@products.empty?
      row_class = "even"
      @products.each do |product|
        # Calculate the total units and total units sold
        total_units = 0
        total_units_sold = 0
        product.units.each do |t|
          total_units += t.quantity
          total_units_sold += t.quantity_sold
        end
        %>
        <tr class="<%=row_class%>">
          <td><%=product.id%></td>
          <td><%=product.brand%></td>
          <td><%=product.name%></td>
          <td>
            <% if !product.usd_price.blank? && product.usd_price > 0 %>
            USD: <%=number_to_currency(product.usd_price, precision: 2)%><br />
            <% end %>
            <% if !product.cad_price.blank? && product.cad_price > 0 %>
            CAD: <%=number_to_currency(product.cad_price, precision: 2)%>
            <%end%>
          </td>
          <td>
            <% if !product.usd_domestic_shipping.blank? && product.usd_domestic_shipping > 0 && product.usd_price > 0 %>
            USD: <%=number_to_currency(product.usd_domestic_shipping, precision: 2)%><br />
            <% end %>
            <% if !product.cad_domestic_shipping.blank? && product.cad_domestic_shipping > 0 && product.cad_price > 0 %>
            CAD: <%=number_to_currency(product.cad_domestic_shipping, precision: 2)%>
            <%end%>
          </td>
          <td>
            <% if !product.usd_foreign_shipping.blank? && product.usd_foreign_shipping > 0 && product.usd_price > 0 %>
            USD: <%=number_to_currency(product.usd_foreign_shipping, precision: 2)%><br />
            <% end %>
            <% if !product.cad_foreign_shipping.blank? && product.cad_foreign_shipping > 0 && product.cad_price > 0 %>
            CAD: <%=number_to_currency(product.cad_foreign_shipping, precision: 2)%>
            <%end%>
          </td>
          <td><%=total_units%></td>
          <td><%=total_units_sold%></td>
          <td><% if product.status %>Active<%else%>Not For Sale<%end%></td>
          <td><%=link_to 'Edit', edit_admin_product_path(product)%></td>
          <td>
            <%
            if total_units_sold != 0
              %>&nbsp;<%
            else
              %><%=link_to admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' } do%><span class="glyphicon glyphicon-trash"></span><%end%><%
            end
            %>
          </td>
        <tr>
        <%
        if row_class == "even"
          row_class = "odd"
        else
          row_class = "even"
        end
      end
    end
    %>
  </table>
  <%
  # If we have no products to show, we will display the Add Product button
  if @products.empty?
    %>
    <div style="text-align:center">
      <br />
      <i>No products exist for the selected category.</i>
      <br /><br />
      <%
      if params[:category_id]
         %><%= link_to "ADD PRODUCT", new_admin_product_path(:category_id => params[:category_id]), class: "btn btn-primary add_product"%><%
      else
        %><%= link_to "ADD PRODUCT", new_admin_product_path, class: "btn btn-primary add_product"%><%
      end
      %>
    </div>
    <%
  end
  %>
