	<div class="admin_products">
		<div class="row">
			<div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
				<% if !product.photo.blank? %>
				<%= image_tag product.photo.url(:large), class: "img-responsive", width:"100%" %>
				<%elsif !product.stockphoto.blank? %>
				<%= image_tag product.stockphoto.photo.url(:large), class: "img-responsive", width:"100%" %>
				<%else%>
				<%= image_tag "blank_photo.jpg", class: "img-responsive", width:"100%" %>
				<%end%>
			</div>
			<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
			<h3><%=product.name%>, <%= product.brand %></h3>
			<p><%=product.description%></p>
			<div class="product_price">
				<p>
					<% if !product.cad_price.blank? && product.cad_price > 0 %>
					CAD<%=number_to_currency(product.cad_price, precision: 2)%>
					<%else%>
					No CAD Price Set
					<%end%>
					<% if !product.usd_price.blank? && product.usd_price > 0 %>
					| USD<%=number_to_currency(product.usd_price, precision: 2)%>
					<%else%>
					No USD Price Set
					<%end%>
				</p>
			</div>
			<br />


				<div id="content">
						<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
								 <li class="active"><a data-toggle="tab" href='#shipping<%=product.id%>'>Shipping Fees</a></li>
								 <li ><a data-toggle="tab" href='#sizing<%=product.id%>'>Sizing Details</a></li>
								 <li ><a data-toggle="tab" href='#inventory<%=product.id%>'>Inventory</a></li>
						</ul>
						<div id="my-tab-content" class="tab-content">
								<div class="tab-pane active" id='shipping<%=product.id%>'>
									<div class="row">
										<p>Domestic:</p>
										<% if !product.usd_domestic_shipping.blank? %>
										<p>USD<%=number_to_currency(product.usd_domestic_shipping, precision: 2)%></p>
										<% end %>
										<% if !product.cad_domestic_shipping.blank? %>
										<p>CAD<%=number_to_currency(product.cad_domestic_shipping, precision: 2)%></p>
										<%end%>
										<br />
										<p>International:</p>
										<% if !product.usd_foreign_shipping.blank? %>
										<p>USD<%=number_to_currency(product.usd_foreign_shipping, precision: 2)%></p>
										<% end %>
										<% if !product.cad_foreign_shipping.blank? %>
										<p>CAD<%=number_to_currency(product.cad_foreign_shipping, precision: 2)%></p>
										<%end%>
									</div>
								</div>
								<div class="tab-pane" id='sizing<%=product.id%>'>
									<div class="row">
										<p><%= simple_format(product.size_details) %></p><br />
									</div>
								</div>
								<div class="tab-pane" id='inventory<%=product.id%>'>
									<div class="row">
									 	<% if product.units.any? %>
										<% product.units.each do |u| %>
										<p>
											<%unless u.size == "n/a" %><%= u.size %><%end%>
											<%unless u.colour == "n/a" %> <%= u.colour %><%end%> (<%= u.quantity %> units in stock; <%= u.quantity_sold %> units sold)
										</p>
							  		<%end%>
										<p><%= link_to 'Manage', admin_product_path(product)%></p>
										<%else%>
								   		 <p><strong>You have no inventory listed.</strong></p>
											 <p><%= link_to 'Add Inventory', admin_product_path(product)%></p>
								   	<%end%>
									<br />
									</div>
								</div>

						</div>
				</div>
			<% total_units = 0 %>
			<% total_units_sold = 0 %>
			<% product.units.each do |t|%>
				<% total_units += t.quantity  %>
				<% total_units_sold += t.quantity_sold %>
			<%end%>
			 <br />
	      <p><%= link_to 'Edit Product', edit_admin_product_path(product)%>
				 <%
				 # prevent the deletion of a product if it has units sold
				 if total_units_sold != 0%>
			   &nbsp&nbsp(Amount sold: <%= total_units_sold %>)
			   <%else%>
         &nbsp|&nbsp<%= link_to 'Delete Product', admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %>
			   <%end%></p><br />
				 <!-- if missing key attribute, prevent ability to start selling -->
				 <% if total_units != 0 && (product.photo.present? || product.stockphoto.present?) && ((!product.cad_price.nil? && product.cad_price > 0) || (!product.usd_price.nil? && product.usd_price > 0)) %>
			   <p class="selling_button btn btn-primary"><%= best_in_place [:admin, product], :status, as: :checkbox, collection: {false: "START SELLING", true: "ACTIVE"}, inner_class: 'form-control'%></p>
			   <%else%><br />
			   <p><strong>You must have inventory, a photo, and a price listed before you can start selling.</strong></p>
			   <%end%>
 <%
# productfotos if present
 %>
			<div class="thumbnails col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br /> <br />
				<%if product.productfotos.any?%>
				<b>More Photos:</b>
				<div class="row">
					<% product.productfotos.each do |ph| %>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="image_frame" style="height:100px">
							<a class="fancybox fancybox.image" rel="<%=ph.product.id%>" href="<%= (ph.foto.url(:large))%>"><img src="<%= (ph.foto.url(:thumb))%>" class="img-responsive"/></a>
						</div>
					</div>
					<%end%>
				</div>
				<%elsif product.stockproductfotos.any? %>
				<b>More Photos:</b>
				<div class="row">
					<% product.stockproductfotos.each do |ph| %>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="image_frame" style="height:100px">
							<a class="fancybox fancybox.image" rel="<%=ph.id%>" href="<%= (ph.foto.url(:large))%>"><img src="<%= (ph.foto.url(:thumb))%>" class="img-responsive"/></a>
						</div>
					</div>
					<%end%>
				</div>
				<%end%>
			</div>
<!-- End productfotos -->

			</div>
		</div>
	</div>
