<div class="admin_products">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <% if stockproduct.stockphoto.blank? %>
      <%= image_tag "blank_photo.jpg", class: "img-responsive", width:"100%" %>
      <%else%>
      <%= image_tag stockproduct.stockphoto.photo.url(:large), class: "img-responsive", width:"100%" %>
      <%end%>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
    <h3><%=stockproduct.name%>, <%= stockproduct.brand %></h3>
    <p><%=stockproduct.description%></p>
    <br />
    <% unless stockproduct.sku.blank? %>
    <p>
      <b>Manufacturer's SKU:</b> <%= stockproduct.sku %>
    </p>
    <%end%>
    <br />
    <div class="row">
    <div class="thumbnails col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <b>More Photos:</b>
      <%if stockproduct.stockproductfotos.any?%>
      <div class="row">
        <% stockproduct.stockproductfotos.each do |ph| %>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
          <div class="image_frame" style="height:100px">
            <a class="fancybox fancybox.image" rel="<%=ph.stockproduct.id%>" href="<%= (ph.foto.url(:large))%>"><img src="<%= (ph.foto.url(:thumb))%>" class="img-responsive"/></a>
          </div>
        </div>
        <%end%>
      </div>
      <%end%>
    </div>
  </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= button_to "Add To My Inventory", choose_from_stock_admin_products_path(:stock_product => stockproduct.id), :method => :post, class: "select_product btn btn-primary", remote: true %>
    </div>
  </div>
</div>
