<div class="row">
	<div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
	</div>
	<div class="merchant_title col-lg-10 col-md-10 col-sm-9 col-xs-12">
        <h3><%= current_user.merchant_name%> </h3>
        <h4><i>Clothing</i></h4>
		
		<br /><br />
    </div>
	<div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
	</div>
</div>
<div class="row">
	<div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
	</div>
	
	
	<% if @clothing.empty? %>
	<div style="text-align:center">
		<br /><br />
	<%= link_to "ADD YOUR FIRST PRODUCT", new_admin_product_path, class: "btn btn-primary add_product"%>
	</div>
	<%else%>
	
	<div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			    <div class="row">
					<div class="dropdown_for_filter col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<%= link_to "NEW PRODUCT", new_admin_product_path, id: "new_product", class: "btn btn-primary dropdown-toggle" %>
					<br />
					</div>
					
					 <div class="dropdown_for_filter col-lg-6 col-md-6 col-sm-6 col-xs-12">
						 <div class="dropdown">
						   <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Categories
						   <span class="caret"></span></button>
						   <ul class="dropdown-menu">
								<div class="product_categories_admin">
									<p><%= link_to "ALL PRODUCTS", admin_products_path %></p>
									<p><%= link_to "ACCESSORIES", admin_products_accessories_path %></p>
									<p><%= link_to "HARD GOODS", admin_products_hard_goods_path %></p>
									<p><%= link_to "WAXING", admin_products_waxing_path %></p>
									
								</div>
						   </ul>
						 </div>
						 <br />
					 </div>
					 
			 	</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="text-align:left">
			    <div class="field input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
		     		 <%= form_tag("/admin/products/clothing", :method => 'get') do %>
		             <%= text_field_tag :query, params[:query], class:"form-control input-lg", style: "width:80%", placeholder: "Search" %>
		                 <span class="input-group-btn">
		                  <button class="btn btn-default input-lg" type="submit"><i class="glyphicon glyphicon-search"></i></button>
		   		      <% end %>
		                </span>
		   	    </div>
			</div>
		</div>
		<br />	
		<div class="products">
		<%= render 'admin/products/paginate/clothing'%>
		</div>
	<%end%>
	</div>
	<%=will_paginate(@clothing)%>
	<div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
	</div>
</div>