<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="row">
	<div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
	</div>
	 <div class="merchant_title col-lg-10 col-md-10 col-sm-9 col-xs-12">
        <h3><%= current_user.merchant_name%> </h3>
				<%
			  # Check to see if we are filtering on a category. If so, we will display this to the user
			  if params[:category_id]
			    %><h4><%= @all_categories.find(params[:category_id]).name %></h4><%
			  else
			    %>ALL<%
			  end
			  %>
		<br /><br />
  </div>
	<div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
	</div>
</div>
<div class="row">
	<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
		<%= render 'admin/products/merchant_navigation'%>
	</div>
	<div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
		<% if @products.empty? %>
		<div style="text-align:center">
			<br />
			<i>Currently no products exist.</i>
			<br /><br /><br />
		<%= link_to "ADD PRODUCT", new_admin_product_path, class: "btn btn-primary add_product"%>
		</div>
		<%else%>
		<%= render 'admin/products/product_listing_header'%>
			<div class="products">
		<%= render 'admin/products/paginate/index'%>
		</div>
	<%end%>
	</div>
	<%=will_paginate(@products)%>
</div>
</div>
