<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="row">
  	<div class="col-lg-1 col-md-1 col-sm-1 hidden-xs"></div>
  	<div class="merchant_title col-lg-10 col-md-10 col-sm-9 col-xs-12">
      <h3><%= current_user.merchant_name%></h3>
      <h4><i>Our Products</i></h4>
  		<br /><br />
    </div>
  	<div class="col-lg-1 col-md-1 col-sm-1 hidden-xs"></div>
  </div>
  <div class="row">
  	<div class="col-lg-1 col-md-1 col-sm-1 hidden-xs"></div>
  	<% if @products.empty? %>
    	<div style="text-align:center">
        <br />
    		<i>Currently no products exist.</i>
    		<br /><br /><br />
    	  <%= link_to "ADD PRODUCT", new_admin_product_path, class: "btn btn-primary add_product"%>
    	</div>
  	<%else%>
  	<div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
  		<div class="row">
  			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
  			    <div class="row">
  					<div class="dropdown_for_filter col-lg-6 col-md-6 col-sm-6 col-xs-12">
  					<%= link_to "NEW PRODUCT", new_admin_product_path, id: "new_product", class: "btn btn-primary dropdown-toggle" %>
  					<br />
  					</div>

  					 <div class="dropdown_for_filter col-lg-6 col-md-6 col-sm-6 col-xs-12">
  						 <div class="dropdown">
  						   <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Categories
  						   <span class="caret"></span></button>
  						   <ul class="dropdown-menu">
  								<div class="product_categories_admin">
  									<p><%= link_to "ALL", admin_products_path %></p>
  									<%
  									@all_categories.where(parent_id: nil).each do |root_category|
                      subcategories = root_category.get_subcategories
            				  subcategories.each do |subcat|
                        indent = "-" * 4 * subcat[0]
                        %><p><%= link_to indent.html_safe + subcat[1].name, admin_products_path(:category_id => subcat[1].id) %></p><%
                      end
  									end
  									%>
  								</div>
  						   </ul>
  						 </div>
  					 </div>

  			 	</div>
  			</div>
  			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="text-align:left">
  			    <div class="field input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
  		     		 <%= form_tag("/admin/products", :method => 'get') do %>
  		             <%= text_field_tag :query, params[:query], class:"form-control", style: "width:80%", placeholder: "Search" %>
  		                 <span class="input-group-btn">
  		                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
  		   		      <% end %>
  		                </span>
  		   	    </div>
  			</div>
  		</div>
  		<div>
  			<strong>Category Displayed:</strong>
  			<%
  			# Check to see if we are filtering on a category. If so, we will display this to the user
  			if params[:category_id]
  				%><%= @all_categories.find(params[:category_id]).name %><%
  			else
  				%>ALL<%
  			end
  			%>
  			<span style="float:right">View: <%= link_to "List", admin_products_path(:product_admin_view => "list") %> | <%= link_to "Detailed", admin_products_path(:product_admin_view => "detailed") %></span>
  		</div>
  		<br />
  		<div class="products">
        <table class="hoverTable">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Sold</th>
            <th>Status</th>
            <th colspan="2">Options</th>
          </tr>
  		    <%
          row_class = "even"
          @list_view_products.each do |product|
            # Calculate the total units and total units sold
            total_units = 0
      			total_units_sold = 0
      			product.units.each do |t|
      		    total_units += t.quantity
      			  total_units_sold += t.quantity_sold
      			end
            %>
            <tr class="<%=row_class%>">
              <td><%=product.id%></td>
              <td><%=product.name%></td>
              <td>
                <% if !product.usd_price.blank? && product.usd_price > 0 %>
                USD: <%=number_to_currency(product.usd_price, precision: 2)%><br />
                <% end %>
                <% if !product.cad_price.blank? && product.cad_price > 0 %>
                CAD: <%=number_to_currency(product.cad_price, precision: 2)%>
                <%end%>
              </td>
              <td><%=total_units%></td>
              <td><%=total_units_sold%></td>
              <td><% if product.status %>Active<%else%>Not For Sale<%end%></td>
              <td><%=link_to 'Edit', edit_admin_product_path(product)%></td>
              <td>
                <%
                if total_units_sold != 0
                  %>&nbsp;<%
                else
                  %><%=link_to admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' } do%><span class="glyphicon glyphicon-trash"></span><%end%><%
                end
                %>
              </td>
            <tr>
            <%
            if row_class == "even"
              row_class = "odd"
            else
              row_class = "even"
            end
          end
          %>
        </table>
  		</div>
  	<%end%>
  	</div>
  	<div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
  	</div>
  </div>
</div>
