<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="admin_product_well">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
		    	<div class="prod_img">
						<%= image_tag @product.photo.url(:large), class:"img-responsive" %>
		    	</div>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
					<h3><%=@product.name%></h3>
					<p><strong>Price:</strong><%=number_to_currency(@product.price, precision: 2)%> </p><br />
					 <div class="old_unit_form">
						  <% if @product.units.exists? %>
								  <% if @product.units.any?{|a| a.size == "n/a" && a.colour == "n/a"} %>
									<div id="units_inventory">
									<%= render 'admin/products/unit_forms/unit_inventory', :locals => {:product => @product}%>
									</div>
									<%elsif @product.units.any?{|a| a.size != "n/a" && a.colour != "n/a" }%>
									<%= render 'admin/products/unit_forms/sizes_colours_inventory', :locals => {:product => @product}%>
									<%elsif @product.units.any?{|a| a.size != "n/a" && a.colour == "n/a" }%>
									<div id="colours_inventory">
									<%= render 'admin/products/unit_forms/sizes_inventory', :locals => {:product => @product}%>
									</div>
									<%elsif @product.units.any?{|a| a.size == "n/a" && a.colour != "n/a" }%>
									<div id="sizes_inventory">
									<%= render 'admin/products/unit_forms/colours_inventory', :locals => {:product => @product}%>
									</div>
									<%end%>
	 					  <%else%>
							<div class="unit_inventory_intro_form">
									<div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
									</div>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
									<div class="diff_size">
									<h4>Does this product have different sizes? </h4>
									<%= label_tag "Yes"%>
									<%= radio_button_tag :size, "true" %><br />
									<%= label_tag "No"%>
									<%= radio_button_tag :size, "false" %><br />
									</div>
									<div class="diff_col">
									<h4>Does this product have different colours?</h4>
									<%= label_tag "Yes"%>
									<%= radio_button_tag :colours, "true" %><br />
									<%= label_tag "No"%>
									<%= radio_button_tag :colours, "false" %><br />
									</div>
									<br />
									<div class="units_button">
									<%= button_tag "Create Inventory!", class: "btn btn-primary btn-large create_unit_form"%>
									</div>
									<br /><br />
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
									</div>
							</div>
					 		<%end%>
					 </div>
					 <div class="new_form_units_inventory">
						 <%= render 'admin/products/unit_forms/new_unit_inventory', :locals => {:product => @product}%>
					 </div>
					 <div class="new_form_sizes_inventory">
						 <%= render 'admin/products/unit_forms/new_sizes_inventory', :locals => {:product => @product}%>
					 </div>
					 <div class="new_form_sizes_colours_inventory">
					 	 <%= render 'admin/products/unit_forms/new_sizes_colours_inventory', :locals => {:product => @product}%>
					 </div>
					 <div class="new_form_colours_inventory">
					 	 <%= render 'admin/products/unit_forms/new_colours_inventory', :locals => {:product => @product}%>
					 </div>
				</div><br />
			</div>
		</div>
</div>
