<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
    <div class="merchant_title col-xs-12">
      <br />
      <h1>Add Products To Your Inventory</h1>
    </div>
		<% if @stockproducts.empty? %>
			<p><i>There are currently no products to select. Check back often for updates.</i></p>
		<%else%>
		<br /><br />
		  <%= form_tag admin_products_stock_product_upload_path, method: :get do %>
		  <%= label_tag :brand_selected, "Filter by Brand:" %>
		  <%= select_tag(:brand_selected, options_for_select(@brands, :selected => session[:brand_selected]), {:onchange => "this.form.submit()", :prompt => "All Brands"})%>
		  <%end%>
		  <br /><br />
		<%end%>
	</div>
</div>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <% @stockproducts.each do |stockproduct| %>
			<div class="products" id="<%=stockproduct.id%>">
			<%= render 'admin/products/stock_product', :stockproduct => stockproduct %>
			<div class="product_cover">
		    <br /><br />
		    <h4>Successfully Added</h4>
		    <br /><br />
		  </div>
			</div>
    <%end%>
	</div>
</div>
</div>
