<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
    <div class="merchant_title col-xs-12">
      <br />
      <h1>Add Products To Your Inventory</h1>
			<% if !@stockproducts.empty? %>
				<p>Below is a collection of suggested products to add to your inventory. Click "Add To My Inventory" to move the product to "My Products".</p>
				<% if current_user.merchant_rep? %>
					<%= form_tag admin_products_stock_product_upload_path, method: :get do %>
					<%= label_tag :merchant_selected, "Viewing As:" %>
					<%= select_tag(:merchant_selected, options_from_collection_for_select(User.where(merchant: true).where(merchant_rep: false), :id, :merchant_name, :selected => session[:merchant_selected]), {:onchange => "this.form.submit()", :prompt => "My Store"})%>
					<%end%>
					<br /><br />
				<%end%>
			<%end%>
			<% if @stockproducts.empty? %>
				<p><i>There are currently no products to select. Check back often for updates.</i></p>
			<%end%>
    </div>
	</div>
</div>
<div class="col-xs-12">
	<div class="row">
	<br /><br />
	<%= render 'admin/products/stock_product_listing_header'%>
	</div>
</div>
<% if session[:merchant_selected].blank? && current_user.merchant_rep? %>
<div class="col-xs-12">
	<div class="row">
	<p>You must select a merchant account before continuing. </p>
	</div>
</div>
<%else%>
<div class="row">
	<div class="products">
		<%= render 'admin/products/stock_product_list' %>
	</div>
</div>
<%end%>
</div>
<%=will_paginate(@stockproducts)%>
<input type="hidden" id="category_filter_href" name="category_filter_href" value="<%=admin_products_stock_product_upload_path%>" />
<%= render 'admin/modals/category_filter' %>
