<div class="article" id="<%=article.date_published%>">
      <div class="facebook_well_main" style="text-align:center">
         <div class="fb-video" data-href="<%= article.location %>" data-width="500" data-show-text="false">
          <blockquote cite="<%= article.location %>" class="fb-xfbml-parse-ignore">
            <a href="<%= article.location %>"><%= article.title%></a>
            <p><%= article.title%></p>
          </blockquote>
         </div>
      </div>
      <div id="article_well" class="article_well_main">
         <div class="article_text col-lg-12 col-md-12 col-sm-12" >
           <h4 class="article_title"><%= article.title %></h4>
           <% unless article.description.blank? %>
           <p class="article_description" title="Click to Expand">
           <%= article.description.html_safe%>
           </p>
           <% end %>
         </div>
    		 <div class="facebook_video_comments_row col-lg-12">
    		    <%= Date.parse(article.date_published).strftime("%b %d, %Y") %> &nbsp|&nbsp
    		    <i class="glyphicon glyphicon-link"></i>&nbsp<%= link_to "facebook.com", "#{article.location}", :target => "_blank"%>  &nbsp|&nbsp
    	      <%= link_to 'Back to News Feed', root_url %>
            <div class="facebook_comments" style="text-align:center">
              <div class="fb-comments" data-href="http://www.ski-lines.com/articles/<%=article.id%>" data-width="100%" data-numposts="5">
              </div>
            </div>
    	   </div>
     </div>
</div>
