<div class="article_show">
     <div id="article_well" class="article_well_main" >
		     <div class="photo_well col-lg-12 col-md-12 col-sm-12">
    			<% if article.image.blank? %>
    			<%= image_tag article.orig_content_photo.url(:large), class: "img-responsive", width:"100%" %>
    			<%else%>
    			<img title="<%=article.title %>" class="media" src="<%=asset_path "#{article.image}", alt:"#{article.title}"%>".html_safe style="width:100%">
    			<%end%>
	  	  </div>
	  	  <div class="article_text col-lg-12 col-md-12 col-sm-12" >
	  	      <h4 class="article_title"><%= article.title.html_safe %></h4>
	  	      <p class="article_show_description">
				        <%= simple_format(article.description.html_safe)%>
			     </p>
	      </div>
	</div>
	<div class="comments_row col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<%= Date.parse(article.date_published).strftime("%b %d, %Y") %> &nbsp|&nbsp
		<i class="glyphicon glyphicon-link"></i>&nbsp<%= link_to article.source, "#{article.location}", :target => "_blank"%>  &nbsp|&nbsp
	   <%= link_to 'Back to News Feed', root_url %>
          <div class="facebook_comments">
            <div class="fb-comments" data-href="http://www.ski-lines.com/articles/<%=article.id%>" data-width="100%" data-numposts="5"></div>
          </div>
    </div>
</div>
