<div class="article_show">
    <div id="article_well" class="article_well_main" >
      <div class="youtube_video_well col-lg-12 col-md-12 col-sm-12">
        <iframe width="100%" height="325" src="http://www.youtube.com/embed/<%= youtube_embed(article.location) %>" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="article_text col-lg-12 col-md-12 col-sm-12" >
        <h4 class="article_title"><%= link_to article.title, article_path(article) %></h4>
        <% unless article.description.blank? %>
          <p class="video_description">
            <%= article.description.html_safe %>
          </p>
       <% end %>
      </div>
 	  </div>
 		<div class="comments_row col-lg-12">
				<%= Date.parse(article.date_published).strftime("%b %d, %Y") %> &nbsp|&nbsp
				<i class="glyphicon glyphicon-link"></i>&nbsp<%= link_to article.source, "#{article.location}", :target => "_blank"%>  &nbsp|&nbsp
			  <%= link_to 'Back to News Feed', root_url %>
	      <div class="facebook_comments">
	          <div class="fb-comments" data-href="http://www.ski-lines.com/articles/<%=article.id%>" data-width="100%" data-numposts="5">
            </div>
        </div>
	  </div>
	</div>
