<%= form_for @category do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-6 cl-xs-12">

      <%= f.hidden_field :parent_id, :value => params[:parent_id]%>

      <%= f.label :name %><br />
      <%= f.text_field :name %><br />

      <%= f.label :description %><br />
      <%= f.text_area :description %>

	</div>
</div>


<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-6 cl-xs-12 actions">
    <%= f.submit "Save", class: "btn btn-large btn-primary" %>
	<%= link_to 'Cancel', categories_path, class: "btn btn-large btn-primary" %>
  </div>
</div>
<% end %>
