<div class="landing_page_footer">
	<div class="footer_logo">
    <%= image_tag('store_logo_bitmap.png', height:'15px') %>

    </div>

		<div class="container footer_links" >
			<ul>
				<li><%=link_to "TERMS OF SERVICE", infos_terms_path %></li>
				<li><%= link_to "CONTACT", "mailto:store@ski-lines.com?Subject=Inquiry" %></li>
				<li><%= link_to "RETURNS", infos_terms_path %></li>
				<li><%= link_to "PURCHASE INFO", infos_terms_path %></li>
				<li><%= link_to "ABOUT", infos_about_path %></li>
				<li><%= link_to "JOIN SKI-LINES", new_team_path %></li>
				<li><%= link_to "MY STORE", admin_products_path%></li>
			</ul>
		</div>


</div>
