<article>
	<!--<span class="label label-info">Save 50%</span>-->
	<%
	if !product.photo.blank?
		%>
		<img src="<%=product.photo.url(:medium)%>" alt="<%=product.name%>">
		<%
	elsif !product.stockphoto.blank?
		%>
		<img src="<%=product.stockphoto.photo.url(:medium)%>" alt="<%=product.name%>">
		<%
	end
	%>
	<div class="product-content">
		<h4>
			<%=product.name%>
		</h4>
		<p class="text-muted small">
			<%=product.user.merchant_name%>
		</p>
		<div class="pull-right">
			<!--
			<span class="rating">
					<span class="star"></span>
			<span class="star"></span>
			<span class="star active"></span>
			<span class="star"></span>
			<span class="star"></span>
			</span>
			<span class="pull-right">&nbsp; 12</span>
			-->
		</div>

		<!--<del class="text-muted">$559.99</del>-->
		<br>
		<strong><%=number_to_currency(product.currency_price(session[:site_country]), precision: 2)%></strong>

		<p class="hide font-questrial">
			<%=product.description%>
		</p>
	</div>
	<div class="overlay">
		<a href="#" class="btn btn-info btn-rounded btn-block"><i class="fa fa-shopping-cart"></i> &nbsp;ADD TO CART</a>
		<a href="<%=product_path(product)%>" class="btn btn-white btn-rounded btn-block">SEE DETAILS</a>
	</div>
</article>
