

<div class="public_product_well">
	<a href='/cart/"<%= product.id %>"'>
		<div style="background-image: url(<%=product.photo.url(:medium) %>)" id='<%=product.id%>'>
			<p><br /></p>
	
			<div class="product_text">
				<h3><%= product.name %></h3>
				<p><b><%=number_to_currency(product.price, precision: 2)%></b></p>
				<p class="product_merchant_name"><%= product.user.merchant_name %></p>
			</div>
		</div>
	</a>
</div>