<div class="store_clothing_background">
	<br /><br /><br /><br /><br />
	<div class="container">
		<div class="row">

			 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				 <!--
				 <div class="dropdown_for_filter col-lg-4 col-md-4 col-sm-4 col-xs-12">
					 <div class="dropdown">

					   <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Filter Options
					   <span class="caret"></span></button>
					   <ul class="dropdown-menu">
	 			        <%= form_tag(products_all_products_path, method: "get") do %>
		  				<a class="clothing_filter_button">
						<h4>Clothing</h4>
						</a>
						<div class="clothing_filter_options">


		 			        <li><%= radio_button_tag(:allfilter, "Training Jacket", params[:allfilter] == "Training Jacket" ) %>
		 			           <%= label_tag(:allfilter, "Training Jackets") %></li>

		 			        <li><%= radio_button_tag(:allfilter, "Training Pants", params[:allfilter] == "Training Pants") %>
		 			           <%= label_tag(:allfilter, "Training Pants") %></li>

		 			  	    <li><%= radio_button_tag(:allfilter, "Training Top", params[:allfilter] == "Training Top") %>
		 			           <%= label_tag(:allfilter, "Training Tops") %></li>

		 			  	    <li><%= radio_button_tag(:allfilter, "Parka", params[:allfilter] == "Parka") %>
		 			           <%= label_tag(:allfilter, "Parkas") %></li>

		 			  	    <li><%= radio_button_tag(:allfilter, "Toques", params[:allfilter] == "Toques") %>
		 			           <%= label_tag(:allfilter, "Hats and Toques") %></li>

		 			  	    <li><%= radio_button_tag(:allfilter, "Socks", params[:allfilter] == "Socks") %>
		 			           <%= label_tag(:allfilter, "Socks") %></li>

		 				    <li><%= radio_button_tag(:allfilter, "Gloves", params[:allfilter] == "Gloves") %>
		 	 			           <%= label_tag(:allfilter, "Gloves") %></li>

		 				    <li><%= radio_button_tag(:allfilter, "Long Underwear", params[:allfilter] == "Long Underwear") %>
		 	 			           <%= label_tag(:allfilter, "Long Underwear") %></li>

		 				    <li><%= radio_button_tag(:allfilter, "Underwear", params[:allfilter] == "Underwear") %>
		 	 			           <%= label_tag(:allfilter, "Underwear") %></li>

		 				    <li><%= radio_button_tag(:allfilter, "Tights", params[:allfilter] == "Tights") %>
		 	 			           <%= label_tag(:allfilter, "Tights and Racing Suits") %></li>
						</div>
						<a class="hg_filter_button">
						<h4>Skis, Boots and Poles</h4>
						</a>
						<div class="hg_filter_options">
		 						<h4>Skis:</h4>

			 			        <li><%= radio_button_tag(:allfilter, "Skate Skis Performance", params[:allfilter] == "Skate Skis Performance") %>
			 			           <%= label_tag(:allfilter, "Performance Skate Skis") %></li>

			 			        <li><%= radio_button_tag(:allfilter, "Skate Skis Racing", params[:allfilter] == "Skate Skis Racing" ) %>
			 			           <%= label_tag(:allfilter, "Racing Skate Skis") %></li>

			 			        <li><%= radio_button_tag(:allfilter, "Classic Touring Skis", params[:allfilter] == "Classic Touring Skis") %>
			 			           <%= label_tag(:allfilter, "Classic Touring Skis") %></li>

			 			        <li><%= radio_button_tag(:allfilter, "Classic Racing Skis", params[:allfilter] == "Classic Racing Skis") %>
			 			           <%= label_tag(:allfilter, "Classic Racing Skis") %></li>

			 			        <li><%= radio_button_tag(:allfilter, "Classic Performance Skis", params[:allfilter] == "Classic Performance Skis") %>
			 			           <%= label_tag(:allfilter, "Classic Performance Skis") %></li>

			 			        <li><%= radio_button_tag(:allfilter, "Combi Skis", params[:allfilter] == "Combi Skis") %>
			 			           <%= label_tag(:allfilter, "Combi Skis") %></li>

			 			        <li><%= radio_button_tag(:allfilter, "Kids Skis", params[:allfilter] == "Kids Skis") %>
			 			           <%= label_tag(:allfilter, "Kids' Skis") %></li>


								   <h4>Boots:</h4>

			 			        <li><%= radio_button_tag(:allfilter, "Skate Racing Boots", params[:allfilter] == "Skate Racing Boots") %>
			 			           <%= label_tag(:allfilter, "Skate Racing Boots") %></li>

			 			        <li><%= radio_button_tag(:allfilter, "Skate Performance Boots", params[:allfilter] == "Skate Performance Boots") %>
			 			           <%= label_tag(:allfilter, "Skate Performance Boots") %></li>

			 			        <li><%= radio_button_tag(:allfilter, "Skate Entry Level Boots", params[:allfilter] == "Skate Entry Level Boots") %>
			 			           <%= label_tag(:allfilter, "Skate Entry Level Boots") %></li>

			 			        <li><%= radio_button_tag(:allfilter, "Classic Touring Boots", params[:allfilter] == "Classic Touring Boots") %>
			 			           <%= label_tag(:allfilter, "Classic Touring Boots") %></li>

			 			        <li><%= radio_button_tag(:allfilter, "Classic Performance Boots", params[:allfilter] == "Classic Performance Boots") %>
			 			           <%= label_tag(:allfilter, "Classic Performance Boots") %></li>

			 			        <li><%= radio_button_tag(:allfilter, "Classic Racing Boots", params[:allfilter] == "Classic Racing Boots") %>
			 			           <%= label_tag(:allfilter, "Classic Racing Boots") %></li>

			 			        <li><%= radio_button_tag(:allfilter, "Combi Boots", params[:allfilter] == "Combi Boots") %>
			 			           <%= label_tag(:allfilter, "Combi Boots") %></li>

			 			        <li><%= radio_button_tag(:allfilter, "Kids Boots", params[:allfilter] == "Kids Boots") %>
			 			           <%= label_tag(:allfilter, "Kids Boots") %></li>


								   <h4>Poles:</h4>

			 			        <li><%= radio_button_tag(:allfilter, "Racing Poles", params[:allfilter] == "Racing Poles") %>
			 			           <%= label_tag(:allfilter, "Racing Poles") %></li>

			 			        <li><%= radio_button_tag(:allfilter, "Performance Poles", params[:allfilter] == "Performance Poles") %>
			 			           <%= label_tag(:allfilter, "Performance Poles") %></li>

			 			        <li><%= radio_button_tag(:allfilter, "Touring Poles", params[:allfilter] == "Touring Poles") %>
			 			           <%= label_tag(:allfilter, "Touring Poles") %></li>
	 					</div>
						<a class="wax_filter_button">
						<h4>Waxing Products</h4>
						</a>
						<div class="wax_filter_options">
			 			        <li><%= radio_button_tag(:allfilter, "Glide Wax", params[:allfilter] == "Glide Wax") %>
			 			           <%= label_tag(:allfilter, "Glide Wax") %></li>

			 			        <li><%= radio_button_tag(:allfilter, "Grip Wax", params[:allfilter] == "Grip Wax") %>
			 			           <%= label_tag(:allfilter, "Grip Wax") %></li>


			 			        <li><%= radio_button_tag(:allfilter, "Waxing Tools", params[:allfilter] == "Waxing Tools") %>
			 			           <%= label_tag(:allfilter, "Waxing Tools") %></li>
						</div>
						<a class="acc_filter_button">
						<h4>Accessories</h4>
						</a>
						<div class="acc_filter_options">
			 			        <li><%= radio_button_tag(:allfilter, "Ski Bag", params[:allfilter] == "Ski Bag") %>
			 			           <%= label_tag(:allfilter, "Ski Bags") %></li>

			 			        <li><%= radio_button_tag(:allfilter, "Travel Bag Duffel", params[:allfilter] == "Travel Bag Duffel") %>
			 			           <%= label_tag(:allfilter, "Travel Duffel Bags") %></li>

			 			        <li><%= radio_button_tag(:allfilter, "Travel Bag Backpack", params[:allfilter] == "Travel Bag Backpack") %>
			 			           <%= label_tag(:allfilter, "Backpacks") %></li>

			 			        <li><%= radio_button_tag(:allfilter, "Drinkbelt", params[:allfilter] == "Drinkbelt") %>
			 			           <%= label_tag(:allfilter, "Drinkbelts") %></li>

			 			        <li><%= radio_button_tag(:allfilter, "Sports Nutrition", params[:allfilter] == "Sports Nutrition") %>
			 			           <%= label_tag(:allfilter, "Sports Nutrition") %></li>

			 			        <li><%= radio_button_tag(:allfilter, "Glasses", params[:allfilter] == "Glasses") %>
			 			           <%= label_tag(:allfilter, "Glasses") %></li>

			 			        <li><%= radio_button_tag(:allfilter, "Boot Covers", params[:allfilter] == "Boot Covers") %>
			 			           <%= label_tag(:allfilter, "Boot Covers") %></li>

			 			        <li><%= radio_button_tag(:allfilter, "Bindings", params[:allfilter] == "Bindings") %>
			 			           <%= label_tag(:allfilter, "Bindings") %></li>
						</div>

						   <br />
						   <div class="all_pro_filter">
	 					<%= submit_tag "Apply Filter", :class => "filter_button btn btn-primary" %>
 					   	   </div>
	 			         <% end %>
					   </ul>
					 </div>
					 <br />
				 </div>

				 <div class="search_bar col-lg-8 col-md-8 col-sm-8 col-xs-12">

				    <div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
				  		 <%= form_tag("/products/all_products", :method => 'get', id: "search-form") do %>
				          <%= text_field_tag :query, params[:query], class:"form-control input-lg", placeholder: "Search", style: "width:85%" %>
				        <div class="input-group-btn">
				          <button class="btn btn-default input-lg" type="submit"><i class="glyphicon glyphicon-search"></i></button>
				          <% end %>
				        </div>
					 </div>
			 	</div>

-->
				<div class="product_results col-xs-12">
					<div class="row">
				    <br />
					<% @products.each do |product|%>
					<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<%= render :partial => "products/product", :locals => {:product => product} %>
					<br />
					</div>
					<%end%>
				</div>
				</div>
			 </div>


	 	</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	</div>
</div>
