<br /><br /><br />
	<div class="container">
		<div class="row">
			<div class="product_filter col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<div class="affix">
					<br /><br />
	 			      <%= form_tag(products_clothing_path, method: "get") do %>
	 						<h4>GENDER</h4>
	 			      <%= radio_button_tag(:category, "Clothing Women", params[:category] == "Clothing Women") %>
	 			      <%= label_tag(:category, "Women's Clothing") %><br />
	 			      <%= radio_button_tag(:category, "Clothing Men", params[:category] == "Clothing Men") %>
	 			      <%= label_tag(:category, "Men's Clothing") %><br />
	 			      <%= radio_button_tag(:category, "Unisex Clothing Accessories", params[:category] == "Unisex Clothing Accessories") %>
	            <%= label_tag(:category, "Unisex Clothing Accessories") %><br /><br />
	 						<h4> CLOTHING TYPE</h4>
	 			      <%= radio_button_tag(:sub_category, "Training Jacket", params[:sub_category] == "Training Jacket" ) %>
	 			      <%= label_tag(:sub_category, "Training Jackets") %><br />
	 			      <%= radio_button_tag(:sub_category, "Training Pants", params[:sub_category] == "Training Pants") %>
	 			      <%= label_tag(:sub_category, "Training Pants") %><br />
	 			  	  <%= radio_button_tag(:sub_category, "Training Top", params[:sub_category] == "Training Top") %>
	 			      <%= label_tag(:sub_category, "Training Tops") %><br />
	 			  	  <%= radio_button_tag(:sub_category, "Parka", params[:sub_category] == "Parka") %>
	 			      <%= label_tag(:sub_category, "Parkas") %><br />
	 			  	  <%= radio_button_tag(:sub_category, "Toques", params[:sub_category] == "Toques") %>
	 			      <%= label_tag(:sub_category, "Hats and Toques") %><br />
	 			  	  <%= radio_button_tag(:sub_category, "Socks", params[:sub_category] == "Socks") %>
	 			      <%= label_tag(:sub_category, "Socks") %><br />
	 				    <%= radio_button_tag(:sub_category, "Gloves", params[:sub_category] == "Gloves") %>
	 	 			    <%= label_tag(:sub_category, "Gloves") %><br />
	 				    <%= radio_button_tag(:sub_category, "Long Underwear", params[:sub_category] == "Long Underwear") %>
	 	 			    <%= label_tag(:sub_category, "Long Underwear") %><br />
	 				    <%= radio_button_tag(:sub_category, "Underwear", params[:sub_category] == "Underwear") %>
	 	 			    <%= label_tag(:sub_category, "Underwear") %><br />
	 				    <%= radio_button_tag(:sub_category, "Tights", params[:sub_category] == "Tights") %>
	 	 			    <%= label_tag(:sub_category, "Tights and Racing Suits") %><br />
							 <br />
	 					  <%= submit_tag "Apply Filter", :class => "filter_button btn btn-primary" %>
							<%= link_to "All CLothing", products_clothing_path, :class => "filter_button btn btn-primary" %>
	 			      <% end %>
					 </div>
					 <br />
				 </div>
				 <div class="product_results col-lg-9 col-md-9 col-sm-9 col-xs-12">
 						<div class="row">
 					 		<br /><br />
 					 		<% @clothing.each do |product|%>
 						 		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
 							 	<%= render :partial => "products/product", :locals => {:product => product} %>
 							 	<br />
 						 		</div>
 						 <%end%>
 					 </div>
 			 </div>
	 	</div>
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
