<br /><br /><br />
	<div class="container">
			<div class="row">
					 <div class="product_filter col-lg-3 col-md-3 col-sm-3 col-xs-12">
						 <div class="affix">
						 		<br /><br />
	 			        <%= form_tag(products_hard_goods_path, method: "get") do %>
		 						<h4>SKIS</h4>
	 			        <%= radio_button_tag(:sbp, "Skate Skis Performance", params[:sbp] == "Skate Skis Performance") %>
	 			           <%= label_tag(:sbp, "Performance Skate Skis") %><br />
	 			        <%= radio_button_tag(:sbp, "Skate Skis Racing", params[:sbp] == "Skate Skis Racing" ) %>
	 			           <%= label_tag(:sbp, "Racing Skate Skis") %><br />
	 			        <%= radio_button_tag(:sbp, "Classic Touring Skis", params[:sbp] == "Classic Touring Skis") %>
	 			           <%= label_tag(:sbp, "Classic Touring Skis") %><br />
		 			        <%= radio_button_tag(:sbp, "Classic Racing Skis", params[:sbp] == "Classic Racing Skis") %>
		 			           <%= label_tag(:sbp, "Classic Racing Skis") %><br />
		 			        <%= radio_button_tag(:sbp, "Classic Performance Skis", params[:sbp] == "Classic Performance Skis") %>
		 			           <%= label_tag(:sbp, "Classic Performance Skis") %><br />
		 			        <%= radio_button_tag(:sbp, "Combi Skis", params[:sbp] == "Combi Skis") %>
		 			           <%= label_tag(:sbp, "Combi Skis") %><br />
	 			        <%= radio_button_tag(:sbp, "Kids Skis", params[:sbp] == "Kids Skis") %>
	 			           <%= label_tag(:sbp, "Kids' Skis") %><br /><br />
						   <h4>BOOTS</h4>
	 			        <%= radio_button_tag(:sbp, "Skate Racing Boots", params[:sbp] == "Skate Racing Boots") %>
	 			           <%= label_tag(:sbp, "Skate Racing Boots") %><br />
	 			        <%= radio_button_tag(:sbp, "Skate Performance Boots", params[:sbp] == "Skate Performance Boots") %>
	 			           <%= label_tag(:sbp, "Skate Performance Boots") %><br />
	 			        <%= radio_button_tag(:sbp, "Skate Entry Level Boots", params[:sbp] == "Skate Entry Level Boots") %>
	 			           <%= label_tag(:sbp, "Skate Entry Level Boots") %><br />
	 			        <%= radio_button_tag(:sbp, "Classic Touring Boots", params[:sbp] == "Classic Touring Boots") %>
	 			           <%= label_tag(:sbp, "Classic Touring Boots") %><br />
								<%= radio_button_tag(:sbp, "Classic Performance Boots", params[:sbp] == "Classic Performance Boots") %>
	 			           <%= label_tag(:sbp, "Classic Performance Boots") %><br />
	 			        <%= radio_button_tag(:sbp, "Classic Racing Boots", params[:sbp] == "Classic Racing Boots") %>
	 			           <%= label_tag(:sbp, "Classic Racing Boots") %><br />
	 			        <%= radio_button_tag(:sbp, "Combi Boots", params[:sbp] == "Combi Boots") %>
	 			           <%= label_tag(:sbp, "Combi Boots") %><br />
	 			        <%= radio_button_tag(:sbp, "Kids Boots", params[:sbp] == "Kids Boots") %>
	 			           <%= label_tag(:sbp, "Kids Boots") %><br /><br />
   							<h4>POLES</h4>
		 			      <%= radio_button_tag(:sbp, "Racing Poles", params[:sbp] == "Racing Poles") %>
			          	 <%= label_tag(:sbp, "Racing Poles") %><br />
	 			        <%= radio_button_tag(:sbp, "Performance Poles", params[:sbp] == "Performance Poles") %>
	 			           <%= label_tag(:sbp, "Performance Poles") %><br />
	 			        <%= radio_button_tag(:sbp, "Touring Poles", params[:sbp] == "Touring Poles") %>
	 			           <%= label_tag(:sbp, "Touring Poles") %><br />
							   <br />
		 						<%= submit_tag "Apply Filter", :class => "filter_button btn btn-primary" %><br />
								<%= link_to "All Hard Goods", products_hard_goods_path, :class => "filter_button btn btn-primary" %>
		 			         <% end %>
									<br /><br /><br /><br /><br />
							</div>
					 </div>
 					 <div class="product_results col-lg-9 col-md-9 col-sm-9 col-xs-12">
					   <div class="row">
					    <br />
							<% @hard_goods.each do |product|%>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<%= render :partial => "products/product", :locals => {:product => product} %>
									<br />
								</div>
								<%end%>
						  </div>
					  </div>
		 	</div>
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	</div>
