<%= render 'navbars/products_navbar' %>

<div class="store_header">
	<div class="container">
		<br />
		<h2>Buy from hundreds of trusted retailers.</h2>
		<h4>Specializing in outdoor winter sporting goods.</h4>
		<h4>All in one location.</h4>

		<br /><br /><br /><br /><br /><br />
		<br /><br /><br /><br /><br /><br />
		<br /><br /><br /><br /><br /><br />
	</div>

</div>
<div class="container">
	<div class="product_results col-xs-12">
		<h4>HARD GOODS</h4>
		<div class="row">
			<br />
			<% @hard_goods.each do |product|%>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<%= render :partial => "products/product", :locals => {:product => product} %>
			<br />
			</div>
			<%end%>
		</div>
	</div>
	<div class="product_results col-xs-12">
		<h4>CLOTHING</h4>
		<div class="row">
			<br />
			<% @clothing.each do |product|%>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<%= render :partial => "products/product", :locals => {:product => product} %>
			<br />
			</div>
			<%end%>
		</div>
	</div>
	<div class="product_results col-xs-12">
		<h4>WAXING</h4>
		<div class="row">
			<br />
			<% @waxing.each do |product|%>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<%= render :partial => "products/product", :locals => {:product => product} %>
			<br />
			</div>
			<%end%>
		</div>
	</div>
	<div class="product_results col-xs-12">
		<h4>ACCESSORIES</h4>
		<div class="row">
			<br />
			<% @accessories.each do |product|%>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<%= render :partial => "products/product", :locals => {:product => product} %>
			<br />
			</div>
			<%end%>
		</div>
	</div>
</div>

<br /><br /><br /><br /><br /><br />
<br /><br /><br />
<%= render 'products/footer'%>
