<div class="store_header">
	<div class="transparent_fade">
		<div class="container">
			<br /><br /><br />
			<br /><br /><br /><br />
			<div class="col-xs-6">
				<%= bootstrap_flash %>
			</div>
			<br /><br /><br /><br /><br /><br /><br />
			<h2>Buy from hundreds of trusted retailers.</h2>
			<h4>All in one location.</h4>
			<br /><br /><br /><br /><br /><br />
			<br /><br /><br /><br /><br /><br />
		</div>
	</div>
</div>
<div class="container">
	<div class="landing_page_arrow col-xs-12">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
	<div class="product_results col-xs-12">
		<h4>HARD GOODS</h4>
		<div class="row">
			<% @hard_goods.each do |product|%>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<%= render :partial => "products/product", :locals => {:product => product} %>
			<br />
			</div>
			<%end%>
		</div>
		<div class="product_row">
			<p style="text-align:right"><%= link_to "See All Hard Goods", products_hard_goods_path %></p>
		</div>
	</div>
	<div class="product_results col-xs-12">
			<h4>CLOTHING</h4>
		<div class="row">

			<% @clothing.each do |product|%>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<%= render :partial => "products/product", :locals => {:product => product} %>
			<br />
			</div>
			<%end%>
		</div>
		<div class="product_row">
			<p style="text-align:right"><%= link_to "See All Clothing", products_clothing_path %></p>
		</div>
	</div>
	<div class="product_results col-xs-12">
		<h4>WAXING</h4>
		<div class="row">

			<% @waxing.each do |product|%>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<%= render :partial => "products/product", :locals => {:product => product} %>
			<br />
			</div>
			<%end%>
		</div>
		<div class="product_row">
				<p style="text-align:right"><%= link_to "See All Waxing", products_waxing_path %></p>
		</div>
	</div>
	<div class="product_results col-xs-12">
		<h4>ACCESSORIES</h4>
		<div class="row">

			<% @accessories.each do |product|%>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<%= render :partial => "products/product", :locals => {:product => product} %>
			<br />
			</div>
			<%end%>
		</div>
		<div class="product_row">
				<p style="text-align:right"><%= link_to "See All Accessories", products_accessories_path %></p>
		</div>
	</div>

</div>

<br /><br /><br /><br /><br /><br />

<%= render 'products/footer'%>
