<div class="store_header">
	<div class="transparent_fade">
		<div class="container">
			<br /><br /><br />
			<br /><br /><br /><br />
			<div class="col-xs-6">
				<%= bootstrap_flash %>
			</div>
			<br /><br /><br /><br /><br /><br /><br />
			<h2>Buy from your favorite ski retailers.</h2>
			<h4>All in one location.</h4>
			<br /><br /><br /><br /><br /><br />
			<br /><br /><br /><br /><br /><br />
		</div>
	</div>
</div>
<div class="container">
	<div class="landing_page_arrow col-xs-12">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
<%

# we want to display all ROOT categories
@root_categories.each do |root_category|
	%>
	<div class="product_results col-xs-12">
		<h4><%=root_category.name%></h4>
		<div class="row">
			<%
			Product.category_specific(root_category.descendents).active_products.index_products.each do |product|
				%>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<%= render :partial => "products/product", :locals => {:product => product} %>
				</div>
				<%
			end
			%>
		</div>
	</div>
	<div class="product_row">
			<p style="text-align:right"><%= link_to "See All " + root_category.name, products_all_products_path(:category_id => root_category.id) %></p>
	</div>
	<%
end
%>

</div>

<br /><br /><br /><br /><br /><br />

<%= render 'products/footer'%>
