<br /><br /><br /><br /><br /><br />
<div class="container">
  <div class="row">
    <div id="image" class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
      <% if !@product.photo.blank? %>
  		<%= image_tag @product.photo.url(:large), class: "img-responsive", width:"100%" %>
  		<%elsif !@product.stockphoto.blank? %>
  		<%= image_tag @product.stockphoto.photo.url(:large), class: "img-responsive", width:"100%" %>
  		<%end%>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
      <br /><br />
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="product_name">
            <h3><%= @product.name %>, <%= @product.brand%></h3>
          </div>
          <% if @product.currency_price(session[:site_country]) == 0 %>
          <div class="product_price">
              <h4>This product is not available in selected Country!</h4>
          </div>
          <%else%>
          <div class="product_price">
              <h4 > <%= number_to_currency(@product.currency_price(session[:site_country]), unit: '$') %></h4>
          </div>
          <%end%>
          <div class="contact_merchant">
            <p>
              <a href="<%= new_conversation_path(product_id: @product.id) %>">
              <span class="glyphicon glyphicon-envelope"></span> Message <%= @product.user.merchant_name %>
              </a>
            </p>
          </div>
          <p><%= simple_format(@product.description) %></p>
          <br /><br />
        </div>
        <div class="product_tabs col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div id="content">
              <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                   <li class="active"><a data-toggle="tab" href='#<%= @product.id%>A'>Merchant</a></li>
                   <li ><a data-toggle="tab" href='#<%= @product.id%>B'>Returns</a></li>
               <% unless @product.units.any?{|a| a.size == 'n/a' }%>
                   <li ><a data-toggle="tab" href='#<%= @product.id%>C'>Sizing</a></li>
               <%end%>
               <li ><a data-toggle="tab" href='#<%= @product.id%>D'>Shipping</a></li>
              </ul>
              <div id="my-tab-content" class="tab-content">
                <div class="tab-pane active" id='<%= @product.id%>A'>
                  <div class="row">
                    <p>
                    <% if @product.user.merchant_url.blank? %>
                    <%= @product.user.merchant_name %><br />
                    <%else%>
                    <i> <%= @product.user.merchant_name %> </i><br />
                    <%end%>
                    <%= @product.user.city %>, <%= @product.user.state_prov%>	<br />
                    </p>
                  </div>
                </div>
                <div class="tab-pane" id='<%= @product.id%>B'>
                  <div class="row">
                    <% if @product.product_return_policy.blank? %>
                  <p>There is no return policy for this product.</p>
                <%else%>
                  <p><%= simple_format(@product.product_return_policy) %></p>
                <%end%>
                  </div>
                </div>
              <% unless @product.units.any?{|a| a.size == 'n/a' }%>
                <div class="tab-pane" id='<%= @product.id%>C'>
                  <div class="row">
                   <% if @product.size_details.blank?%>
                   <p>No sizing details to show.</p>
                   <%else%>
                   <p><%= simple_format(@product.size_details) %></p>
                   <%end%>
                  </div>
                </div>
              <%end%>
                <div class="tab-pane" id='<%= @product.id%>D'>
                  <div class="row">
                    <% if @product.currency_domestic_shipping(session[:site_country]).blank? && @product.currency_foreign_shipping(session[:site_country]).blank? %>
                    <p>There is no shipping information to show.</p>
                    <%else%>
                    <% if @product.currency_domestic_shipping(session[:site_country]) == 0 && @product.currency_foreign_shipping(session[:site_country]) == 0 %>
                    <p>This product has free shipping!</p>
                    <%else%>
                    <p>
                      <%= number_to_currency(@product.currency_domestic_shipping(session[:site_country]), unit: '$') %> per unit for deliveries within <%=@product.user.country%>, and
                      <%= number_to_currency(@product.currency_foreign_shipping(session[:site_country]), unit: '$') %> per unit for deliveries outside of <%=@product.user.country%>.
                    </p>
                      <%end%>
                    <%end%>
                    <p>
                      Shipping to:<br />
                      <% @product.user.default_permitted_destinations.each do |country| %>
                       - <%= country.country.common_name %><br />
                       <%end%>
                    </p>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <% unless @product.currency_price(session[:site_country]) == 0 %>
        <div class="add_to_cart col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <br />
          <a href='/cart/"<%= @product.id %>"'>
            <div class="toggle_sizes btn btn-primary">
              ADD TO CART
            </div>
          </a>
        </div>
        <%end%>
      <div class="thumbnails col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <br /> <br />
				<%if @product.productfotos.any?%>
				<b>More Photos:</b>
				<div class="row">
					<% @product.productfotos.each do |ph| %>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="image_frame" style="height:100px">
							<a class="fancybox fancybox.image" rel="<%=ph.product.id%>" href="<%= (ph.foto.url(:large))%>"><img src="<%= (ph.foto.url(:thumb))%>" class="img-responsive"/></a>
						</div>
					</div>
					<%end%>
				</div>
				<%elsif @product.stockproductfotos.any? %>
				<b>More Photos:</b>
				<div class="row">
					<% @product.stockproductfotos.each do |ph| %>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="image_frame" style="height:100px">
							<a class="fancybox fancybox.image" rel="<%=ph.id%>" href="<%= (ph.foto.url(:large))%>"><img src="<%= (ph.foto.url(:thumb))%>" class="img-responsive"/></a>
						</div>
					</div>
					<%end%>
				</div>
				<%end%>
      </div>
    </div>
  </div>
  <br /><br /><br /><br />
  <br /><br /><br /><br />
</div>
<%= render 'products/footer'%>
