<br /><br /><br />
	<div class="container">
		<div class="row">
			<div class="product_filter col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<div class="affix">
					<br /><br />
		 			<%= form_tag(products_waxing_path, method: "get") do %>
		 			<h4>Waxing Products:</h4>
		 			<%= radio_button_tag(:wax, "Glide Wax", params[:wax] == "Glide Wax") %>
		 			<%= label_tag(:wax, "Glide Wax") %><br />
		 			<%= radio_button_tag(:wax, "Grip Wax", params[:wax] == "Grip Wax") %>
		 			<%= label_tag(:wax, "Grip Wax") %><br />
		 			<%= radio_button_tag(:wax, "Waxing Tools", params[:wax] == "Waxing Tools") %>
		 			<%= label_tag(:wax, "Waxing Tools") %><br />
					<br />
		 			<%= submit_tag "Apply Filter", :class => "filter_button btn btn-primary" %>
					<%= link_to "All Waxing Products", products_waxing_path, :class => "filter_button btn btn-primary" %>
					<% end %>
				</div>
			<br />
		</div>
		<div class="product_results col-lg-9 col-md-9 col-sm-9 col-xs-12">
			 <div class="row">
				 <br /><br />
				 <% @waxing.each do |product|%>
					 <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					 <%= render :partial => "products/product", :locals => {:product => product} %>
					 <br />
					 </div>
				<%end%>
			 </div>
		</div>
	</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
