    <div class="user_poll_questions">
      <div class="poll_question">
        <p>1. <%= article.user_feedback.question_one %></p>
        <p><%= @survey_answer.answer_one %></p>
      </div>
      <div class="poll_question">
        <p>2. <%= article.user_feedback.question_two %></p>
        <p><%= @survey_answer.answer_two %></p>
      </div>
      <div class="poll_question">
        <p>3. <%= article.user_feedback.question_three %></p>
        <p><%= @survey_answer.answer_three %></p>
      </div>
      <div class="poll_question">
        <p>4. <%= article.user_feedback.question_four %></p>
        <p><%= @survey_answer.answer_four %></p>
      </div>
      <div class="poll_question">
        <p>5. <%= article.user_feedback.question_five %></p>
        <p><%= @survey_answer.answer_five %></p>
      </div>
      <div class="poll_question">
        <p>6. <%= article.user_feedback.question_six %></p>
        <p><%= @survey_answer.answer_six %></p>
      </div>
    </div>
