
<%= form_for @feedback_answer, :url => user_feedback_answers_path do |f|%>
    <%= f.label :user_feedback_id, "User Feedback ID", hidden: true %>
    <%= f.hidden_field :user_feedback_id, value: article.user_feedback.id %>
    <div class="user_poll_questions">
      <div class="poll_question">
        <p>1. <%= article.user_feedback.question_one %></p>
        <%= f.label :answer_one, "Answer 1:", hidden: true %>
        <%= f.text_field :answer_one, class: "form-control" %>
      </div>
      <div class="poll_question">
        <p>2. <%= article.user_feedback.question_two %></p>
        <%= f.label :answer_two, "Answer 2:", hidden: true %>
        <%= f.text_field :answer_two, class: "form-control" %>
      </div>
      <div class="poll_question">
        <p>3. <%= article.user_feedback.question_three %></p>
        <%= f.label :answer_three, "Answer 3:", hidden: true %>
        <%= f.text_field :answer_three, class: "form-control" %>
      </div>
      <% unless article.user_feedback.question_four.blank? %>
      <div class="poll_question">
        <p>4. <%= article.user_feedback.question_four %></p>
        <%= f.label :answer_four, "Answer 4:", hidden: true %>
        <%= f.text_field :answer_four, class: "form-control" %>
      </div>
      <%end%>
      <% unless article.user_feedback.question_five.blank? %>
      <div class="poll_question">
        <p>5. <%= article.user_feedback.question_five %></p>
        <%= f.label :answer_five, "Answer 5:", hidden: true %>
        <%= f.text_field :answer_five, class: "form-control" %>
      </div>
      <%end%>
      <% unless article.user_feedback.question_six.blank? %>
      <div class="poll_question">
        <p>6. <%= article.user_feedback.question_six %></p>
        <%= f.label :answer_six, "Answer 6:", hidden: true %>
        <%= f.text_field :answer_six, class: "form-control" %>
      </div>
      <%end%>
    </div>

  <div class="actions">
    <%= f.submit "SUBMIT", class: "btn btn-large btn-primary email_digest_button" %>
  </div>
<%end%>
