

   <div class="featured_fb_videos" id="<%=article.date_published%>">
     <div class="fb-video" data-href="<%= article.location %>" data-width="500" data-show-text="false">
      <blockquote cite="<%= article.location %>" class="fb-xfbml-parse-ignore">
        <a href="<%= article.location %>"><%= article.title%></a>
        <p><%= article.title%></p>
      </blockquote>
     </div>
	</div>
