<div class="admin_products">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <% if stockproduct.stockphoto.blank? %>
      <%= image_tag "blank_photo.jpg", class: "img-responsive", width:"100%" %>
      <%else%>
      <%= image_tag stockproduct.stockphoto.photo.url(:large), class: "img-responsive", width:"100%" %>
      <%end%>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
    <h3><%=stockproduct.name%>, <%= stockproduct.brand %></h3>
    <p><%=stockproduct.description%></p><br />
    <p>
      <b>USD MSRP:</b> <%=number_to_currency(stockproduct.usd_msrp, unit: "$")%><br />
      <b>CAD MSRP:</b> <%=number_to_currency(stockproduct.cad_msrp, unit: "$")%>
    </p>
    <br />
    <p>
      <b>Manufacturer's SKU:</b> <%= stockproduct.sku %>
    </p>
    <br />
    <% unless stockproduct.size_details.blank?%>
    <div class="toggle_sizes">
      <p><b>Sizing Details</b></p>
    </div>
    <div class="size_selections">
      <p><%= simple_format(stockproduct.size_details) %></p><br />
    </div>
    <br />
    <%end%>

    <% if !stockproduct.stockunits.any? %>
    Add Available Sizes!<br /><br />
    <%else%>
    <div class="toggle_sizes">
      <p><b>Available Sizes</b></p>
    </div>
    <div class="size_selections">
    <% stockproduct.stockunits.each do |u| %>
  <p> <%unless u.size == "n/a" %><%= u.size %><%end%>
      <%unless u.colour == "n/a" %> <%= u.colour %><%end%> (<%= u.quantity %> units in stock) </p>
      <%end%>
    </div>
    <%end%>
    <br />
    <p><%= link_to 'Edit Product', edit_admin_stockproduct_path(stockproduct)%>
      &nbsp|&nbsp
      <%= link_to 'Delete Product', admin_stockproduct_path(stockproduct), method: :delete, data: { confirm: 'Are you sure?' } %>
        &nbsp|&nbsp
        <%= link_to "Available Sizes", admin_stockproduct_path(stockproduct) %>
    </p><br />
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
         <p class="selling_button btn btn-primary"><%= best_in_place [:admin, stockproduct], :ca_status, as: :checkbox, collection: {false: "Not Active in Canada", true: "Active in Canada"}, inner_class: 'form-control'%></p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
         <p class="selling_button btn btn-primary"><%= best_in_place [:admin, stockproduct], :us_status, as: :checkbox, collection: {false: "Not Active the U.S.", true: "Active in the U.S."}, inner_class: 'form-control'%></p>
      </div>
    </div>
    <div class="thumbnails col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <br /> <br />
      <%if stockproduct.stockproductfotos.any?%>
      <b>More Photos:</b>
      <div class="row">
        <% stockproduct.stockproductfotos.each do |ph| %>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
          <div class="image_frame" style="height:100px">
            <a class="fancybox fancybox.image" rel="<%=ph.stockproduct.id%>" href="<%= (ph.foto.url(:large))%>"><img src="<%= (ph.foto.url(:thumb))%>" class="img-responsive"/></a>
          </div>
        </div>
        <%end%>
      </div>
      <%end%>
    </div>

    </div>
  </div>
</div>
