<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="row">
	<div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
	</div>
	<div class="merchant_title col-lg-10 col-md-10 col-sm-12 col-xs-12">

		  <%= form_tag admin_products_path, method: :get do %>
		  <%= label_tag :brand_selected, "Viewing As:" %>
		  <%= select_tag(:brand_selected, options_for_select(@brands, :selected => session[:brand_selected]), {:onchange => "this.form.submit()", :prompt => "--select--"})%>
		  <%end%>
		  <br /><br />

		<br />
	</div>
	<div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
	</div>
</div>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <% @stockproduct.each do |stockproduct| %>
			<div class="products">
			<%= render 'admin/stockproducts/product', :locals => {:stockproduct => stockproduct}%>
			</div>
    <%end%>
	</div>
  <div class="col-xs-12">
	<%=will_paginate(@stockproduct)%>
  </div>
</div>
</div>
<input type="hidden" id="category_filter_href" name="category_filter_href" value="<%=admin_products_path%>" />
<%= render 'admin/modals/category_filter' %>
