<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	  <% if ff.object.new_record? %>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<p><%= ff.select :quantity, (0..50), class: "form-control", height:"40px", :include_blank => true %></p>
	   	<%= ff.hidden_field :quantity_sold, :value => 0 %>
	   	<%= ff.hidden_field :colour, :value => "n/a" %>
      <%= ff.hidden_field :size, :value => "n/a" %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <%= ff.remove_nested_fields_link :units %><br />
    </div>
  </div>
  	<%else%>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<p><%= ff.select :quantity, (0..50), class: "form-control", height:"40px", :include_blank => true %></p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<% if ff.object.quantity_sold.to_i == 0 %>
			<p><%= ff.object.quantity_sold %>, delete: <%= ff.check_box '_destroy' %></p>
			<%else%>
			<p><%= ff.object.quantity_sold %></p>
			<%end%>
    </div>
  </div>
    <%end%>
</div>
